https://www.uktradeinfo.com/Statistics/Pages/TaxAndDutybulletins.aspx

Changes to Alcohol rates

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path
    from io import BytesIO

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://www.uktradeinfo.com/Statistics/Tax%20and%20Duty%20Bulletins/Alcohol0718.xls'
    data = BytesIO(session.get(inputURL).content)
    tab = pd.read_excel(data, sheet_name = '12')

In [2]:
tab

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
NaN,Alcohol Bulletin - July 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,Changes to Alcohol rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,WINE OF FRESH GRAPE RATES OF DUTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Â£ per hectolitre of product,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,Still Wine,NaN,NaN,NaN,NaN,NaN,Sparkling Wine,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,"Over 1.2%, up to","Over 4.0%, up to",NaN,"Over 5.5%, up to","Over 15.0%, up to",NaN,"Over 5.5%, less","From 8.5%, up to",NaN,NaN,NaN,NaN,NaN
NaN,Date of Change,NaN,and including 4.0%,and including 5.5%,NaN,and including 15.0%,and including 22%,NaN,than 8.5%,and including 15.0%,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.01.95,NaN,23.41,42.41,NaN,140.44,200.64,NaN,-,200.64,NaN,NaN,NaN,NaN,NaN
NaN,01.01.96,NaN,23.41,42.41,NaN,140.44,187.24,NaN,-,200.64,NaN,NaN,NaN,NaN,NaN
NaN,01.01.97,NaN,43.28,59.51,NaN,140.44,187.24,NaN,195.63,200.64,NaN,NaN,NaN,NaN,NaN
NaN,01.01.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,201.5,206.66,NaN,NaN,NaN,NaN,NaN
NaN,17.03.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,161.2,206.66,NaN,NaN,NaN,NaN,NaN
NaN,01.01.99,NaN,46.01,63.36,NaN,149.28,199.03,NaN,161.2,213.27,NaN,NaN,NaN,NaN,NaN
NaN,01.04.00,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,07.03.01,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,28.04.02,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,14.04.03,NaN,48.91,67.25,NaN,158.69,211.58,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,22.03.04,NaN,50.38,69.27,NaN,163.47,217.95,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,20.03.05,NaN,51.69,71.07,NaN,167.72,223.62,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,26.03.06,NaN,53.06,72.95,NaN,172.17,229.55,NaN,166.7,220.54,NaN,NaN,NaN,NaN,NaN
NaN,26.03.07,NaN,54.85,75.42,NaN,177.99,237.31,NaN,172.33,227.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,26.03.07,NaN,26.48,39.73,NaN,172.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.03.08,NaN,28.9,43.37,NaN,188.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.12.08 5,NaN,31.21,46.83,NaN,203.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,23.04.09,NaN,31.83,47.77,NaN,207.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,29.03.10,NaN,36.01,54.04,NaN,217.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,30.06.10 6,NaN,33.46,50.22,NaN,217.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,28.03.11,NaN,35.87,53.84,NaN,233.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.10.11,NaN,35.87,53.84,NaN,233.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,26.03.12,NaN,37.68,56.55,NaN,245.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,25.03.13,NaN,39.66,59.52,NaN,258.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,24.03.14,NaN,39.66,59.52,NaN,264.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,23.03.15,NaN,38.87,58.75,NaN,264.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,21.03.16,NaN,38.87,58.75,NaN,268.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,13.03.17,NaN,40.38,61.04,NaN,279.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"1. Before 1 October 1996, duty on still cider ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,same rate as still cider and perry of strength...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2. Duty on sparkling cider and perry of streng...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,rate as still cider and perry of strength exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"3. Before 1 January 1997, duty on sparkling ci...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,the same rate as still cider and perry of appr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,4. Rate of excise duty on sparkling cider and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,wine.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,5. The increase in duty on 1 December 2008 cor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,for the period 1 December 2008 to 31 December ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,that period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,6. At Budget 2010 it was announced that duty o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,than the previously announced two percentage p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,and the rate reverted to the two per cent abov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
observations = tab.iloc[12:44, :10]

In [4]:
observations

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
NaN,NaN,NaN,"Over 1.2%, up to","Over 4.0%, up to",NaN,"Over 5.5%, up to","Over 15.0%, up to",NaN,"Over 5.5%, less","From 8.5%, up to"
NaN,Date of Change,NaN,and including 4.0%,and including 5.5%,NaN,and including 15.0%,and including 22%,NaN,than 8.5%,and including 15.0%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.01.95,NaN,23.41,42.41,NaN,140.44,200.64,NaN,-,200.64
NaN,01.01.96,NaN,23.41,42.41,NaN,140.44,187.24,NaN,-,200.64
NaN,01.01.97,NaN,43.28,59.51,NaN,140.44,187.24,NaN,195.63,200.64
NaN,01.01.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,201.5,206.66
NaN,17.03.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,161.2,206.66
NaN,01.01.99,NaN,46.01,63.36,NaN,149.28,199.03,NaN,161.2,213.27
NaN,01.04.00,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,07.03.01,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,28.04.02,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,14.04.03,NaN,48.91,67.25,NaN,158.69,211.58,NaN,166.7,220.54
NaN,22.03.04,NaN,50.38,69.27,NaN,163.47,217.95,NaN,166.7,220.54
NaN,20.03.05,NaN,51.69,71.07,NaN,167.72,223.62,NaN,166.7,220.54
NaN,26.03.06,NaN,53.06,72.95,NaN,172.17,229.55,NaN,166.7,220.54
NaN,26.03.07,NaN,54.85,75.42,NaN,177.99,237.31,NaN,172.33,227.99
NaN,17.03.08,NaN,59.87,82.32,NaN,194.28,259.02,NaN,188.1,248.85
NaN,01.12.08,NaN,64.65,88.9,NaN,209.82,279.74,NaN,203.14,268.75
NaN,23.04.09,NaN,65.94,90.68,NaN,214.02,285.33,NaN,207.2,274.13
NaN,29.03.10,NaN,69.32,95.33,NaN,225,299.97,NaN,217.83,288.2
NaN,28.03.11,NaN,74.32,102.21,NaN,241.23,321.61,NaN,233.55,308.99
NaN,01.10.11,NaN,74.32,102.21,NaN,241.23,321.61,NaN,233.55,308.99
NaN,26.03.12,NaN,78.07,107.36,NaN,253.39,337.82,NaN,245.32,324.56
NaN,25.03.13,NaN,82.18,113.01,NaN,266.72,355.59,NaN,258.23,341.63
NaN,24.03.14,NaN,84.21,115.8,NaN,273.31,364.37,NaN,264.61,350.07
NaN,23.03.15,NaN,84.21,115.8,NaN,273.31,364.37,NaN,264.61,350.07
NaN,21.03.16,NaN,85.6,117.72,NaN,277.84,370.41,NaN,268.99,355.87
NaN,13.03.17,NaN,88.93,122.3,NaN,288.65,384.82,NaN,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list(observations)

['HM Revenue and Customs',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9']

In [6]:
temp = observations.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 7',                            
                          ], axis = 1)

In [7]:
temp.head()

,HM Revenue and Customs,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
NaN,NaN,"Over 1.2%, up to","Over 4.0%, up to","Over 5.5%, up to","Over 15.0%, up to","Over 5.5%, less","From 8.5%, up to"
NaN,Date of Change,and including 4.0%,and including 5.5%,and including 15.0%,and including 22%,than 8.5%,and including 15.0%
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64

In [8]:
temp.rename(columns= temp.iloc[0], inplace=True)

In [9]:
list(temp)

[nan,
 'Over 1.2%, up to ',
 'Over 4.0%, up to ',
 'Over 5.5%, up to',
 'Over 15.0%, up to ',
 'Over 5.5%, less',
 'From 8.5%, up to ']

In [10]:
data = temp.iloc[4:]

In [11]:
data.head()

,nan,"Over 1.2%, up to","Over 4.0%, up to","Over 5.5%, up to","Over 15.0%, up to","Over 5.5%, less","From 8.5%, up to"
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64
NaN,01.01.96,23.41,42.41,140.44,187.24,-,200.64
NaN,01.01.97,43.28,59.51,140.44,187.24,195.63,200.64
NaN,01.01.98,44.58,61.3,144.65,192.86,201.5,206.66
NaN,17.03.98,44.58,61.3,144.65,192.86,161.2,206.66

In [12]:
data.columns.values[0] = 'Period'
data.columns.values[1] = 'Over 1.2%, up to and including 4.0%'
data.columns.values[2] = 'Over 4.0%, up to and including 5.5%'
data.columns.values[3] = 'Over 5.5%, up to and including 15.0%'
data.columns.values[4] = 'Over 15.0%, up to and including 22.0%'
data.columns.values[5] = 'Over 5.5%, less than 8.5%'
data.columns.values[6] = 'From 8.5%, up to and including 15.0%'

In [13]:
list(data)

['Period',
 'Over 1.2%, up to and including 4.0%',
 'Over 4.0%, up to and including 5.5%',
 'Over 5.5%, up to and including 15.0%',
 'Over 15.0%, up to and including 22.0%',
 'Over 5.5%, less than 8.5%',
 'From 8.5%, up to and including 15.0%']

In [14]:
data

,Period,"Over 1.2%, up to and including 4.0%","Over 4.0%, up to and including 5.5%","Over 5.5%, up to and including 15.0%","Over 15.0%, up to and including 22.0%","Over 5.5%, less than 8.5%","From 8.5%, up to and including 15.0%"
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64
NaN,01.01.96,23.41,42.41,140.44,187.24,-,200.64
NaN,01.01.97,43.28,59.51,140.44,187.24,195.63,200.64
NaN,01.01.98,44.58,61.3,144.65,192.86,201.5,206.66
NaN,17.03.98,44.58,61.3,144.65,192.86,161.2,206.66
NaN,01.01.99,46.01,63.36,149.28,199.03,161.2,213.27
NaN,01.04.00,47.58,65.42,154.37,205.82,166.7,220.54
NaN,07.03.01,47.58,65.42,154.37,205.82,166.7,220.54
NaN,28.04.02,47.58,65.42,154.37,205.82,166.7,220.54
NaN,14.04.03,48.91,67.25,158.69,211.58,166.7,220.54
NaN,22.03.04,50.38,69.27,163.47,217.95,166.7,220.54
NaN,20.03.05,51.69,71.07,167.72,223.62,166.7,220.54
NaN,26.03.06,53.06,72.95,172.17,229.55,166.7,220.54
NaN,26.03.07,54.85,75.42,177.99,237.31,172.33,227.99
NaN,17.03.08,59.87,82.32,194.28,259.02,188.1,248.85
NaN,01.12.08,64.65,88.9,209.82,279.74,203.14,268.75
NaN,23.04.09,65.94,90.68,214.02,285.33,207.2,274.13
NaN,29.03.10,69.32,95.33,225,299.97,217.83,288.2
NaN,28.03.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,01.10.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,26.03.12,78.07,107.36,253.39,337.82,245.32,324.56
NaN,25.03.13,82.18,113.01,266.72,355.59,258.23,341.63
NaN,24.03.14,84.21,115.8,273.31,364.37,264.61,350.07
NaN,23.03.15,84.21,115.8,273.31,364.37,264.61,350.07
NaN,21.03.16,85.6,117.72,277.84,370.41,268.99,355.87
NaN,13.03.17,88.93,122.3,288.65,384.82,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
new_table = pd.melt(data, id_vars=['Period'], var_name='Alcohol Content', value_name='Value')

In [16]:
new_table

        Period                       Alcohol Content   Value
0     01.01.95   Over 1.2%, up to and including 4.0%   23.41
1     01.01.96   Over 1.2%, up to and including 4.0%   23.41
2     01.01.97   Over 1.2%, up to and including 4.0%   43.28
3     01.01.98   Over 1.2%, up to and including 4.0%   44.58
4     17.03.98   Over 1.2%, up to and including 4.0%   44.58
5     01.01.99   Over 1.2%, up to and including 4.0%   46.01
6     01.04.00   Over 1.2%, up to and including 4.0%   47.58
7     07.03.01   Over 1.2%, up to and including 4.0%   47.58
8     28.04.02   Over 1.2%, up to and including 4.0%   47.58
9     14.04.03   Over 1.2%, up to and including 4.0%   48.91
10    22.03.04   Over 1.2%, up to and including 4.0%   50.38
11    20.03.05   Over 1.2%, up to and including 4.0%   51.69
12    26.03.06   Over 1.2%, up to and including 4.0%   53.06
13    26.03.07   Over 1.2%, up to and including 4.0%   54.85
14    17.03.08   Over 1.2%, up to and including 4.0%   59.87
15   01.12.08    Over 1.2%, up to and including 4.0%   64.65
16    23.04.09   Over 1.2%, up to and including 4.0%   65.94
17    29.03.10   Over 1.2%, up to and including 4.0%   69.32
18    28.03.11   Over 1.2%, up to and including 4.0%   74.32
19    01.10.11   Over 1.2%, up to and including 4.0%   74.32
20    26.03.12   Over 1.2%, up to and including 4.0%   78.07
21    25.03.13   Over 1.2%, up to and including 4.0%   82.18
22    24.03.14   Over 1.2%, up to and including 4.0%   84.21
23    23.03.15   Over 1.2%, up to and including 4.0%   84.21
24    21.03.16   Over 1.2%, up to and including 4.0%    85.6
25    13.03.17   Over 1.2%, up to and including 4.0%   88.93
26         NaN   Over 1.2%, up to and including 4.0%     NaN
27         NaN   Over 1.2%, up to and including 4.0%     NaN
28    01.01.95   Over 4.0%, up to and including 5.5%   42.41
29    01.01.96   Over 4.0%, up to and including 5.5%   42.41
..         ...                                   ...     ...
138        NaN             Over 5.5%, less than 8.5%     NaN
139        NaN             Over 5.5%, less than 8.5%     NaN
140   01.01.95  From 8.5%, up to and including 15.0%  200.64
141   01.01.96  From 8.5%, up to and including 15.0%  200.64
142   01.01.97  From 8.5%, up to and including 15.0%  200.64
143   01.01.98  From 8.5%, up to and including 15.0%  206.66
144   17.03.98  From 8.5%, up to and including 15.0%  206.66
145   01.01.99  From 8.5%, up to and including 15.0%  213.27
146   01.04.00  From 8.5%, up to and including 15.0%  220.54
147   07.03.01  From 8.5%, up to and including 15.0%  220.54
148   28.04.02  From 8.5%, up to and including 15.0%  220.54
149   14.04.03  From 8.5%, up to and including 15.0%  220.54
150   22.03.04  From 8.5%, up to and including 15.0%  220.54
151   20.03.05  From 8.5%, up to and including 15.0%  220.54
152   26.03.06  From 8.5%, up to and including 15.0%  220.54
153   26.03.07  From 8.5%, up to and including 15.0%  227.99
154   17.03.08  From 8.5%, up to and including 15.0%  248.85
155  01.12.08   From 8.5%, up to and including 15.0%  268.75
156   23.04.09  From 8.5%, up to and including 15.0%  274.13
157   29.03.10  From 8.5%, up to and including 15.0%   288.2
158   28.03.11  From 8.5%, up to and including 15.0%  308.99
159   01.10.11  From 8.5%, up to and including 15.0%  308.99
160   26.03.12  From 8.5%, up to and including 15.0%  324.56
161   25.03.13  From 8.5%, up to and including 15.0%  341.63
162   24.03.14  From 8.5%, up to and including 15.0%  350.07
163   23.03.15  From 8.5%, up to and including 15.0%  350.07
164   21.03.16  From 8.5%, up to and including 15.0%  355.87
165   13.03.17  From 8.5%, up to and including 15.0%  369.72
166        NaN  From 8.5%, up to and including 15.0%     NaN
167        NaN  From 8.5%, up to and including 15.0%     NaN

[168 rows x 3 columns]

In [17]:
new_table.count()

Period             156
Alcohol Content    168
Value              156
dtype: int64

In [18]:
new_table.dropna(how='any',axis=0, inplace =True)

In [19]:
new_table.count()

Period             156
Alcohol Content    156
Value              156
dtype: int64

In [20]:
# new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce')

In [21]:
new_table['Alcohol Content'].unique()

array(['Over 1.2%, up to and including 4.0%',
       'Over 4.0%, up to and including 5.5%',
       'Over 5.5%, up to and including 15.0%',
       'Over 15.0%, up to and including 22.0%',
       'Over 5.5%, less than 8.5%',
       'From 8.5%, up to and including 15.0%'], dtype=object)

In [22]:
new_table['Unit'] = 'gbp-per-hl-product'

In [23]:
new_table['Measure Type'] = 'rates-of-duty'

In [24]:
def user_perc8(x):
    
    if ((str(x) == 'Over 5.5%, less than 8.5%')) | ((str(x) == 'From 8.5%, up to and including 15.0%')) : 
        
        return 'Sparkling Wine'
    else:
        return 'Still Wine'
    
new_table['Category'] = new_table.apply(lambda row: user_perc8(row['Alcohol Content']), axis = 1)

In [25]:
new_table['Revision'] = ''

In [26]:
new_table['Alcohol Duty'] = 'wine-of-fresh-grape'

In [27]:
new_table = new_table[['Period','Alcohol Duty','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [28]:
new_table.tail()

,Period,Alcohol Duty,Category,Alcohol Content,Measure Type,Value,Unit,Revision
161,25.03.13,wine-of-fresh-grape,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,341.63,gbp-per-hl-product,
162,24.03.14,wine-of-fresh-grape,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,350.07,gbp-per-hl-product,
163,23.03.15,wine-of-fresh-grape,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,350.07,gbp-per-hl-product,
164,21.03.16,wine-of-fresh-grape,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,355.87,gbp-per-hl-product,
165,13.03.17,wine-of-fresh-grape,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,369.72,gbp-per-hl-product,

In [29]:
new_table.dtypes

Period             object
Alcohol Duty       object
Category           object
Alcohol Content    object
Measure Type       object
Value              object
Unit               object
Revision           object
dtype: object

In [30]:
# new_table['Value'] = new_table['Value'].astype(str)

In [31]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [32]:
Final_table = pd.DataFrame()

In [33]:
Final_table = pd.concat([Final_table,new_table])

In [34]:
observations = tab.iloc[55:84, :10]

In [35]:
observations

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.01.95,NaN,23.41,42.41,NaN,140.44,200.64,NaN,-,200.64
NaN,01.01.96,NaN,23.41,42.41,NaN,140.44,187.24,NaN,-,200.64
NaN,01.01.97,NaN,43.28,59.51,NaN,140.44,187.24,NaN,195.63,200.64
NaN,01.01.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,201.5,206.66
NaN,17.03.98,NaN,44.58,61.3,NaN,144.65,192.86,NaN,161.2,206.66
NaN,01.01.99,NaN,46.01,63.36,NaN,149.28,199.03,NaN,161.2,213.27
NaN,01.04.00,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,07.03.01,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,28.04.02,NaN,47.58,65.42,NaN,154.37,205.82,NaN,166.7,220.54
NaN,14.04.03,NaN,48.91,67.25,NaN,158.69,211.58,NaN,166.7,220.54
NaN,22.03.04,NaN,50.38,69.27,NaN,163.47,217.95,NaN,166.7,220.54
NaN,20.03.05,NaN,51.69,71.07,NaN,167.72,223.62,NaN,166.7,220.54
NaN,26.03.06,NaN,53.06,72.95,NaN,172.17,229.55,NaN,166.7,220.54
NaN,26.03.07,NaN,54.85,75.42,NaN,177.99,237.31,NaN,172.33,227.99
NaN,17.03.08,NaN,59.87,82.32,NaN,194.28,259.02,NaN,188.1,248.85
NaN,01.12.08,NaN,64.65,88.9,NaN,209.82,279.74,NaN,203.14,268.75
NaN,23.04.09,NaN,65.94,90.68,NaN,214.02,285.33,NaN,207.2,274.13
NaN,29.03.10,NaN,69.32,95.33,NaN,225,299.97,NaN,217.83,288.2
NaN,28.03.11,NaN,74.32,102.21,NaN,241.23,321.61,NaN,233.55,308.99
NaN,01.10.11,NaN,74.32,102.21,NaN,241.23,321.61,NaN,233.55,308.99
NaN,26.03.12,NaN,78.07,107.36,NaN,253.39,337.82,NaN,245.32,324.56
NaN,25.03.13,NaN,82.18,113.01,NaN,266.72,355.59,NaN,258.23,341.63
NaN,24.03.14,NaN,84.21,115.8,NaN,273.31,364.37,NaN,264.61,350.07
NaN,23.03.15,NaN,84.21,115.8,NaN,273.31,364.37,NaN,264.61,350.07
NaN,21.03.16,NaN,85.6,117.72,NaN,277.84,370.41,NaN,268.99,355.87
NaN,13.03.17,NaN,88.93,122.3,NaN,288.65,384.82,NaN,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
temp = observations.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 7',                            
                          ], axis = 1)

In [37]:
temp

,HM Revenue and Customs,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64
NaN,01.01.96,23.41,42.41,140.44,187.24,-,200.64
NaN,01.01.97,43.28,59.51,140.44,187.24,195.63,200.64
NaN,01.01.98,44.58,61.3,144.65,192.86,201.5,206.66
NaN,17.03.98,44.58,61.3,144.65,192.86,161.2,206.66
NaN,01.01.99,46.01,63.36,149.28,199.03,161.2,213.27
NaN,01.04.00,47.58,65.42,154.37,205.82,166.7,220.54
NaN,07.03.01,47.58,65.42,154.37,205.82,166.7,220.54
NaN,28.04.02,47.58,65.42,154.37,205.82,166.7,220.54
NaN,14.04.03,48.91,67.25,158.69,211.58,166.7,220.54
NaN,22.03.04,50.38,69.27,163.47,217.95,166.7,220.54
NaN,20.03.05,51.69,71.07,167.72,223.62,166.7,220.54
NaN,26.03.06,53.06,72.95,172.17,229.55,166.7,220.54
NaN,26.03.07,54.85,75.42,177.99,237.31,172.33,227.99
NaN,17.03.08,59.87,82.32,194.28,259.02,188.1,248.85
NaN,01.12.08,64.65,88.9,209.82,279.74,203.14,268.75
NaN,23.04.09,65.94,90.68,214.02,285.33,207.2,274.13
NaN,29.03.10,69.32,95.33,225,299.97,217.83,288.2
NaN,28.03.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,01.10.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,26.03.12,78.07,107.36,253.39,337.82,245.32,324.56
NaN,25.03.13,82.18,113.01,266.72,355.59,258.23,341.63
NaN,24.03.14,84.21,115.8,273.31,364.37,264.61,350.07
NaN,23.03.15,84.21,115.8,273.31,364.37,264.61,350.07
NaN,21.03.16,85.6,117.72,277.84,370.41,268.99,355.87
NaN,13.03.17,88.93,122.3,288.65,384.82,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
data = temp.iloc[2:]

In [39]:
data

,HM Revenue and Customs,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64
NaN,01.01.96,23.41,42.41,140.44,187.24,-,200.64
NaN,01.01.97,43.28,59.51,140.44,187.24,195.63,200.64
NaN,01.01.98,44.58,61.3,144.65,192.86,201.5,206.66
NaN,17.03.98,44.58,61.3,144.65,192.86,161.2,206.66
NaN,01.01.99,46.01,63.36,149.28,199.03,161.2,213.27
NaN,01.04.00,47.58,65.42,154.37,205.82,166.7,220.54
NaN,07.03.01,47.58,65.42,154.37,205.82,166.7,220.54
NaN,28.04.02,47.58,65.42,154.37,205.82,166.7,220.54
NaN,14.04.03,48.91,67.25,158.69,211.58,166.7,220.54
NaN,22.03.04,50.38,69.27,163.47,217.95,166.7,220.54
NaN,20.03.05,51.69,71.07,167.72,223.62,166.7,220.54
NaN,26.03.06,53.06,72.95,172.17,229.55,166.7,220.54
NaN,26.03.07,54.85,75.42,177.99,237.31,172.33,227.99
NaN,17.03.08,59.87,82.32,194.28,259.02,188.1,248.85
NaN,01.12.08,64.65,88.9,209.82,279.74,203.14,268.75
NaN,23.04.09,65.94,90.68,214.02,285.33,207.2,274.13
NaN,29.03.10,69.32,95.33,225,299.97,217.83,288.2
NaN,28.03.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,01.10.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,26.03.12,78.07,107.36,253.39,337.82,245.32,324.56
NaN,25.03.13,82.18,113.01,266.72,355.59,258.23,341.63
NaN,24.03.14,84.21,115.8,273.31,364.37,264.61,350.07
NaN,23.03.15,84.21,115.8,273.31,364.37,264.61,350.07
NaN,21.03.16,85.6,117.72,277.84,370.41,268.99,355.87
NaN,13.03.17,88.93,122.3,288.65,384.82,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data.columns.values[0] = 'Period'
data.columns.values[1] = 'Over 1.2%, up to and including 4.0%'
data.columns.values[2] = 'Over 4.0%, up to and including 5.5%'
data.columns.values[3] = 'Over 5.5%, up to and including 15.0%'
data.columns.values[4] = 'Over 15.0%, up to and including 22.0%'
data.columns.values[5] = 'Over 5.5%, less than 8.5%'
data.columns.values[6] = 'From 8.5%, up to and including 15.0%'

In [41]:
data

,Period,"Over 1.2%, up to and including 4.0%","Over 4.0%, up to and including 5.5%","Over 5.5%, up to and including 15.0%","Over 15.0%, up to and including 22.0%","Over 5.5%, less than 8.5%","From 8.5%, up to and including 15.0%"
NaN,01.01.95,23.41,42.41,140.44,200.64,-,200.64
NaN,01.01.96,23.41,42.41,140.44,187.24,-,200.64
NaN,01.01.97,43.28,59.51,140.44,187.24,195.63,200.64
NaN,01.01.98,44.58,61.3,144.65,192.86,201.5,206.66
NaN,17.03.98,44.58,61.3,144.65,192.86,161.2,206.66
NaN,01.01.99,46.01,63.36,149.28,199.03,161.2,213.27
NaN,01.04.00,47.58,65.42,154.37,205.82,166.7,220.54
NaN,07.03.01,47.58,65.42,154.37,205.82,166.7,220.54
NaN,28.04.02,47.58,65.42,154.37,205.82,166.7,220.54
NaN,14.04.03,48.91,67.25,158.69,211.58,166.7,220.54
NaN,22.03.04,50.38,69.27,163.47,217.95,166.7,220.54
NaN,20.03.05,51.69,71.07,167.72,223.62,166.7,220.54
NaN,26.03.06,53.06,72.95,172.17,229.55,166.7,220.54
NaN,26.03.07,54.85,75.42,177.99,237.31,172.33,227.99
NaN,17.03.08,59.87,82.32,194.28,259.02,188.1,248.85
NaN,01.12.08,64.65,88.9,209.82,279.74,203.14,268.75
NaN,23.04.09,65.94,90.68,214.02,285.33,207.2,274.13
NaN,29.03.10,69.32,95.33,225,299.97,217.83,288.2
NaN,28.03.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,01.10.11,74.32,102.21,241.23,321.61,233.55,308.99
NaN,26.03.12,78.07,107.36,253.39,337.82,245.32,324.56
NaN,25.03.13,82.18,113.01,266.72,355.59,258.23,341.63
NaN,24.03.14,84.21,115.8,273.31,364.37,264.61,350.07
NaN,23.03.15,84.21,115.8,273.31,364.37,264.61,350.07
NaN,21.03.16,85.6,117.72,277.84,370.41,268.99,355.87
NaN,13.03.17,88.93,122.3,288.65,384.82,279.46,369.72
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
new_table = pd.melt(data, id_vars=['Period'], var_name='Alcohol Content', value_name='Value')

In [43]:
new_table.count()

Period             156
Alcohol Content    162
Value              156
dtype: int64

In [44]:
new_table.dropna(how='any',axis=0, inplace =True)

In [45]:
new_table.count()

Period             156
Alcohol Content    156
Value              156
dtype: int64

In [46]:
# new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce')

In [47]:
new_table['Unit'] = 'gbp-per-hl-product'

In [48]:
new_table['Measure Type'] = 'rates-of-duty'

In [49]:
def user_perc8(x):
    
    if ((str(x) == 'Over 5.5%, less than 8.5%')) | ((str(x) == 'From 8.5%, up to and including 15.0%')) : 
        
        return 'Sparkling Wine'
    else:
        return 'Still Wine'
    
new_table['Category'] = new_table.apply(lambda row: user_perc8(row['Alcohol Content']), axis = 1)

In [50]:
new_table['Alcohol Content'].unique()

array(['Over 1.2%, up to and including 4.0%',
       'Over 4.0%, up to and including 5.5%',
       'Over 5.5%, up to and including 15.0%',
       'Over 15.0%, up to and including 22.0%',
       'Over 5.5%, less than 8.5%',
       'From 8.5%, up to and including 15.0%'], dtype=object)

In [51]:
def user_perc8(x,y):
    
    if ((str(x) == 'Over 1.2%, up to and including 4.0%')) | ((str(x) == 'Over 4.0%, up to and including 5.5%')) : 
        
        return 'Ready-to-Drink '
    else:
        return y
    
new_table['Category'] = new_table.apply(lambda row: user_perc8(row['Alcohol Content'],row['Category']), axis = 1)

In [52]:
new_table['Revision'] = ''

In [53]:
new_table['Alcohol Duty'] = 'made-wine'

In [54]:
new_table = new_table[['Period','Alcohol Duty','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [55]:
new_table.tail()

,Period,Alcohol Duty,Category,Alcohol Content,Measure Type,Value,Unit,Revision
156,25.03.13,made-wine,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,341.63,gbp-per-hl-product,
157,24.03.14,made-wine,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,350.07,gbp-per-hl-product,
158,23.03.15,made-wine,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,350.07,gbp-per-hl-product,
159,21.03.16,made-wine,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,355.87,gbp-per-hl-product,
160,13.03.17,made-wine,Sparkling Wine,"From 8.5%, up to and including 15.0%",rates-of-duty,369.72,gbp-per-hl-product,

In [56]:
new_table['Value'] = new_table['Value'].astype(str)

In [57]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [58]:
Final_table = pd.concat([Final_table,new_table])

In [59]:
Final_table.count()

Period             308
Alcohol Duty       308
Category           308
Alcohol Content    308
Measure Type       308
Value              308
Unit               308
Revision           308
dtype: int64

In [60]:
observations = tab.iloc[197:228, :6]

In [61]:
observations

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
NaN,10.03.92,NaN,21.32,-,NaN,-
NaN,16.03.93,NaN,22.39,-,NaN,-
NaN,01.01.94,NaN,22.82,-,NaN,-
NaN,01.01.95,NaN,23.78,-,NaN,-
NaN,01.10.96,NaN,23.78,35.67,NaN,-
NaN,01.01.97,NaN,23.78,35.67,NaN,36.45
NaN,01.01.98,NaN,24.49,36.74,NaN,37.54
NaN,17.03.98,NaN,24.49,36.74,NaN,45.05
NaN,01.01.99,NaN,25.27,37.92,NaN,45.05
NaN,09.03.99 4,NaN,25.27,37.92,NaN,161.19
NaN,01.04.00,NaN,26.13,39.21,NaN,166.7
NaN,07.03.01,NaN,26.13,39.21,NaN,166.7
NaN,28.04.02,NaN,25.61,38.43,NaN,166.7
NaN,20.03.05,NaN,25.61,38.43,NaN,166.7
NaN,26.03.06,NaN,25.61,38.43,NaN,166.7
NaN,26.03.07,NaN,26.48,39.73,NaN,172.33
NaN,01.03.08,NaN,28.9,43.37,NaN,188.1
NaN,01.12.08 5,NaN,31.21,46.83,NaN,203.14
NaN,23.04.09,NaN,31.83,47.77,NaN,207.2
NaN,29.03.10,NaN,36.01,54.04,NaN,217.83
NaN,30.06.10 6,NaN,33.46,50.22,NaN,217.83
NaN,28.03.11,NaN,35.87,53.84,NaN,233.55
NaN,01.10.11,NaN,35.87,53.84,NaN,233.55
NaN,26.03.12,NaN,37.68,56.55,NaN,245.32
NaN,25.03.13,NaN,39.66,59.52,NaN,258.23
NaN,24.03.14,NaN,39.66,59.52,NaN,264.61
NaN,23.03.15,NaN,38.87,58.75,NaN,264.61
NaN,21.03.16,NaN,38.87,58.75,NaN,268.99
NaN,13.03.17,NaN,40.38,61.04,NaN,279.46
NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
list(observations)

['HM Revenue and Customs',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5']

In [63]:
data = observations.drop(['Unnamed: 1','Unnamed: 4'], axis = 1)

In [64]:
data.head()

    HM Revenue and Customs Unnamed: 2 Unnamed: 3 Unnamed: 5
NaN               10.03.92      21.32          -          -
NaN               16.03.93      22.39          -          -
NaN               01.01.94      22.82          -          -
NaN               01.01.95      23.78          -          -
NaN               01.10.96      23.78      35.67          -

In [65]:
data.columns.values[0] = 'Period'
data.columns.values[1] = 'Over 1.2%, up to and including 7.5%'
data.columns.values[2] = 'Over 7.5% but less than 8.5% '
data.columns.values[3] = 'Over 5.5% but less than 8.5%'

In [66]:
list(data)

['Period',
 'Over 1.2%, up to and including 7.5%',
 'Over 7.5% but less than 8.5% ',
 'Over 5.5% but less than 8.5%']

In [67]:
new_table = pd.melt(data, id_vars=['Period'], var_name='Alcohol Content', value_name='Value')

In [68]:
new_table

        Period                      Alcohol Content   Value
0     10.03.92  Over 1.2%, up to and including 7.5%   21.32
1     16.03.93  Over 1.2%, up to and including 7.5%   22.39
2     01.01.94  Over 1.2%, up to and including 7.5%   22.82
3     01.01.95  Over 1.2%, up to and including 7.5%   23.78
4     01.10.96  Over 1.2%, up to and including 7.5%   23.78
5     01.01.97  Over 1.2%, up to and including 7.5%   23.78
6     01.01.98  Over 1.2%, up to and including 7.5%   24.49
7     17.03.98  Over 1.2%, up to and including 7.5%   24.49
8     01.01.99  Over 1.2%, up to and including 7.5%   25.27
9   09.03.99 4  Over 1.2%, up to and including 7.5%   25.27
10    01.04.00  Over 1.2%, up to and including 7.5%   26.13
11    07.03.01  Over 1.2%, up to and including 7.5%   26.13
12    28.04.02  Over 1.2%, up to and including 7.5%   25.61
13    20.03.05  Over 1.2%, up to and including 7.5%   25.61
14    26.03.06  Over 1.2%, up to and including 7.5%   25.61
15    26.03.07  Over 1.2%, up to and including 7.5%   26.48
16    01.03.08  Over 1.2%, up to and including 7.5%    28.9
17  01.12.08 5  Over 1.2%, up to and including 7.5%   31.21
18    23.04.09  Over 1.2%, up to and including 7.5%   31.83
19    29.03.10  Over 1.2%, up to and including 7.5%   36.01
20  30.06.10 6  Over 1.2%, up to and including 7.5%   33.46
21    28.03.11  Over 1.2%, up to and including 7.5%   35.87
22    01.10.11  Over 1.2%, up to and including 7.5%   35.87
23    26.03.12  Over 1.2%, up to and including 7.5%   37.68
24    25.03.13  Over 1.2%, up to and including 7.5%   39.66
25    24.03.14  Over 1.2%, up to and including 7.5%   39.66
26    23.03.15  Over 1.2%, up to and including 7.5%   38.87
27    21.03.16  Over 1.2%, up to and including 7.5%   38.87
28    13.03.17  Over 1.2%, up to and including 7.5%   40.38
29         NaN  Over 1.2%, up to and including 7.5%     NaN
..         ...                                  ...     ...
63    16.03.93         Over 5.5% but less than 8.5%       -
64    01.01.94         Over 5.5% but less than 8.5%       -
65    01.01.95         Over 5.5% but less than 8.5%       -
66    01.10.96         Over 5.5% but less than 8.5%       -
67    01.01.97         Over 5.5% but less than 8.5%   36.45
68    01.01.98         Over 5.5% but less than 8.5%   37.54
69    17.03.98         Over 5.5% but less than 8.5%   45.05
70    01.01.99         Over 5.5% but less than 8.5%   45.05
71  09.03.99 4         Over 5.5% but less than 8.5%  161.19
72    01.04.00         Over 5.5% but less than 8.5%   166.7
73    07.03.01         Over 5.5% but less than 8.5%   166.7
74    28.04.02         Over 5.5% but less than 8.5%   166.7
75    20.03.05         Over 5.5% but less than 8.5%   166.7
76    26.03.06         Over 5.5% but less than 8.5%   166.7
77    26.03.07         Over 5.5% but less than 8.5%  172.33
78    01.03.08         Over 5.5% but less than 8.5%   188.1
79  01.12.08 5         Over 5.5% but less than 8.5%  203.14
80    23.04.09         Over 5.5% but less than 8.5%   207.2
81    29.03.10         Over 5.5% but less than 8.5%  217.83
82  30.06.10 6         Over 5.5% but less than 8.5%  217.83
83    28.03.11         Over 5.5% but less than 8.5%  233.55
84    01.10.11         Over 5.5% but less than 8.5%  233.55
85    26.03.12         Over 5.5% but less than 8.5%  245.32
86    25.03.13         Over 5.5% but less than 8.5%  258.23
87    24.03.14         Over 5.5% but less than 8.5%  264.61
88    23.03.15         Over 5.5% but less than 8.5%  264.61
89    21.03.16         Over 5.5% but less than 8.5%  268.99
90    13.03.17         Over 5.5% but less than 8.5%  279.46
91         NaN         Over 5.5% but less than 8.5%     NaN
92         NaN         Over 5.5% but less than 8.5%     NaN

[93 rows x 3 columns]

In [69]:
new_table.count()

Period             87
Alcohol Content    93
Value              87
dtype: int64

In [70]:
new_table.dropna(how='any',axis=0, inplace =True)

In [71]:
# new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce')

In [72]:
new_table['Unit'] = 'gbp-per-hl-product'

In [73]:
new_table['Measure Type'] = 'rates-of-duty'

In [74]:
new_table['Alcohol Content'].unique()

array(['Over 1.2%, up to and including 7.5%',
       'Over 7.5% but less than 8.5% ', 'Over 5.5% but less than 8.5%'],
      dtype=object)

In [75]:
def user_perc8(x):
    
    if ((str(x) == 'Over 5.5% but less than 8.5%')) : 
        
        return 'Sparkling Cider'
    else:
        return 'Still Cider'
    
new_table['Category'] = new_table.apply(lambda row: user_perc8(row['Alcohol Content']), axis = 1)

In [76]:
new_table['Revision'] = ''

In [77]:
new_table['Alcohol Duty'] = 'cider'

In [78]:
new_table['Value'] = new_table['Value'].astype(str)

In [79]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [80]:
new_table = new_table[['Period','Alcohol Duty','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [81]:
Final_table = pd.concat([Final_table,new_table])

In [82]:
Final_table.count()

Period             386
Alcohol Duty       386
Category           386
Alcohol Content    386
Measure Type       386
Value              386
Unit               386
Revision           386
dtype: int64

In [83]:
observations = tab.iloc[97:133, :4]

In [84]:
observations

    HM Revenue and Customs Unnamed: 1 Unnamed: 2 Unnamed: 3
NaN               10.03.82        NaN          -      14.47
NaN               16.03.83        NaN          -      15.19
NaN               14.03.84        NaN          -      15.48
NaN               20.03.85        NaN          -      15.77
NaN               20.03.90        NaN          -      17.35
NaN               19.03.91        NaN          -      18.96
NaN               10.03.92        NaN          -      19.81
NaN               16.03.93        NaN          -      19.81
NaN               01.01.94        NaN          -      19.81
NaN               01.01.95        NaN          -       20.6
NaN               28.11.95        NaN          -      19.78
NaN               26.11.96        NaN          -      18.99
NaN               01.01.98        NaN          -      19.56
NaN               17.03.98        NaN          -      19.56
NaN               09.03.99        NaN          -      19.56
NaN               01.04.00        NaN          -      19.56
NaN               07.03.01        NaN          -      19.56
NaN               28.04.02        NaN      19.56      19.56
NaN               14.04.03        NaN      19.56      19.56
NaN               22.03.04        NaN      19.56      19.56
NaN               20.03.05        NaN      19.56      19.56
NaN               26.03.06        NaN      19.56      19.56
NaN               26.03.07        NaN      19.56      19.56
NaN               17.03.08        NaN      21.35      21.35
NaN               01.12.08        NaN       22.2       22.2
NaN               23.04.09        NaN      22.64      22.64
NaN               29.03.10        NaN       23.8       23.8
NaN               28.03.11        NaN      25.52      25.52
NaN               01.10.11        NaN      25.52      25.52
NaN               26.03.12        NaN      26.81      26.81
NaN               25.03.13        NaN      28.22      28.22
NaN               24.03.14        NaN      28.22      28.22
NaN               23.03.15        NaN      27.66      27.66
NaN               21.03.16        NaN      27.66      27.66
NaN               13.03.17        NaN      28.74      28.74
NaN                    NaN        NaN        NaN        NaN

In [85]:
data = observations.drop(['Unnamed: 1'], axis = 1)

In [86]:
data

    HM Revenue and Customs Unnamed: 2 Unnamed: 3
NaN               10.03.82          -      14.47
NaN               16.03.83          -      15.19
NaN               14.03.84          -      15.48
NaN               20.03.85          -      15.77
NaN               20.03.90          -      17.35
NaN               19.03.91          -      18.96
NaN               10.03.92          -      19.81
NaN               16.03.93          -      19.81
NaN               01.01.94          -      19.81
NaN               01.01.95          -       20.6
NaN               28.11.95          -      19.78
NaN               26.11.96          -      18.99
NaN               01.01.98          -      19.56
NaN               17.03.98          -      19.56
NaN               09.03.99          -      19.56
NaN               01.04.00          -      19.56
NaN               07.03.01          -      19.56
NaN               28.04.02      19.56      19.56
NaN               14.04.03      19.56      19.56
NaN               22.03.04      19.56      19.56
NaN               20.03.05      19.56      19.56
NaN               26.03.06      19.56      19.56
NaN               26.03.07      19.56      19.56
NaN               17.03.08      21.35      21.35
NaN               01.12.08       22.2       22.2
NaN               23.04.09      22.64      22.64
NaN               29.03.10       23.8       23.8
NaN               28.03.11      25.52      25.52
NaN               01.10.11      25.52      25.52
NaN               26.03.12      26.81      26.81
NaN               25.03.13      28.22      28.22
NaN               24.03.14      28.22      28.22
NaN               23.03.15      27.66      27.66
NaN               21.03.16      27.66      27.66
NaN               13.03.17      28.74      28.74
NaN                    NaN        NaN        NaN

In [87]:
data.columns.values[0] = 'Period'
data.columns.values[1] = 'Spirits-Based RTDs'
data.columns.values[2] = 'Spirits'

In [88]:
data

       Period Spirits-Based RTDs Spirits
NaN  10.03.82                  -   14.47
NaN  16.03.83                  -   15.19
NaN  14.03.84                  -   15.48
NaN  20.03.85                  -   15.77
NaN  20.03.90                  -   17.35
NaN  19.03.91                  -   18.96
NaN  10.03.92                  -   19.81
NaN  16.03.93                  -   19.81
NaN  01.01.94                  -   19.81
NaN  01.01.95                  -    20.6
NaN  28.11.95                  -   19.78
NaN  26.11.96                  -   18.99
NaN  01.01.98                  -   19.56
NaN  17.03.98                  -   19.56
NaN  09.03.99                  -   19.56
NaN  01.04.00                  -   19.56
NaN  07.03.01                  -   19.56
NaN  28.04.02              19.56   19.56
NaN  14.04.03              19.56   19.56
NaN  22.03.04              19.56   19.56
NaN  20.03.05              19.56   19.56
NaN  26.03.06              19.56   19.56
NaN  26.03.07              19.56   19.56
NaN  17.03.08              21.35   21.35
NaN  01.12.08               22.2    22.2
NaN  23.04.09              22.64   22.64
NaN  29.03.10               23.8    23.8
NaN  28.03.11              25.52   25.52
NaN  01.10.11              25.52   25.52
NaN  26.03.12              26.81   26.81
NaN  25.03.13              28.22   28.22
NaN  24.03.14              28.22   28.22
NaN  23.03.15              27.66   27.66
NaN  21.03.16              27.66   27.66
NaN  13.03.17              28.74   28.74
NaN       NaN                NaN     NaN

In [89]:
new_table = pd.melt(data, id_vars=['Period'], var_name='Category', value_name='Value')

In [90]:
new_table

      Period            Category  Value
0   10.03.82  Spirits-Based RTDs      -
1   16.03.83  Spirits-Based RTDs      -
2   14.03.84  Spirits-Based RTDs      -
3   20.03.85  Spirits-Based RTDs      -
4   20.03.90  Spirits-Based RTDs      -
5   19.03.91  Spirits-Based RTDs      -
6   10.03.92  Spirits-Based RTDs      -
7   16.03.93  Spirits-Based RTDs      -
8   01.01.94  Spirits-Based RTDs      -
9   01.01.95  Spirits-Based RTDs      -
10  28.11.95  Spirits-Based RTDs      -
11  26.11.96  Spirits-Based RTDs      -
12  01.01.98  Spirits-Based RTDs      -
13  17.03.98  Spirits-Based RTDs      -
14  09.03.99  Spirits-Based RTDs      -
15  01.04.00  Spirits-Based RTDs      -
16  07.03.01  Spirits-Based RTDs      -
17  28.04.02  Spirits-Based RTDs  19.56
18  14.04.03  Spirits-Based RTDs  19.56
19  22.03.04  Spirits-Based RTDs  19.56
20  20.03.05  Spirits-Based RTDs  19.56
21  26.03.06  Spirits-Based RTDs  19.56
22  26.03.07  Spirits-Based RTDs  19.56
23  17.03.08  Spirits-Based RTDs  21.35
24  01.12.08  Spirits-Based RTDs   22.2
25  23.04.09  Spirits-Based RTDs  22.64
26  29.03.10  Spirits-Based RTDs   23.8
27  28.03.11  Spirits-Based RTDs  25.52
28  01.10.11  Spirits-Based RTDs  25.52
29  26.03.12  Spirits-Based RTDs  26.81
..       ...                 ...    ...
42  10.03.92             Spirits  19.81
43  16.03.93             Spirits  19.81
44  01.01.94             Spirits  19.81
45  01.01.95             Spirits   20.6
46  28.11.95             Spirits  19.78
47  26.11.96             Spirits  18.99
48  01.01.98             Spirits  19.56
49  17.03.98             Spirits  19.56
50  09.03.99             Spirits  19.56
51  01.04.00             Spirits  19.56
52  07.03.01             Spirits  19.56
53  28.04.02             Spirits  19.56
54  14.04.03             Spirits  19.56
55  22.03.04             Spirits  19.56
56  20.03.05             Spirits  19.56
57  26.03.06             Spirits  19.56
58  26.03.07             Spirits  19.56
59  17.03.08             Spirits  21.35
60  01.12.08             Spirits   22.2
61  23.04.09             Spirits  22.64
62  29.03.10             Spirits   23.8
63  28.03.11             Spirits  25.52
64  01.10.11             Spirits  25.52
65  26.03.12             Spirits  26.81
66  25.03.13             Spirits  28.22
67  24.03.14             Spirits  28.22
68  23.03.15             Spirits  27.66
69  21.03.16             Spirits  27.66
70  13.03.17             Spirits  28.74
71       NaN             Spirits    NaN

[72 rows x 3 columns]

In [91]:
new_table.count()

Period      70
Category    72
Value       70
dtype: int64

In [92]:
new_table.dropna(how='any',axis=0, inplace =True)

In [93]:
new_table.count()

Period      70
Category    70
Value       70
dtype: int64

In [94]:
# new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce')

In [95]:
new_table['Unit'] = 'gbp-per-l-pure-alcohol'

In [96]:
new_table['Measure Type'] = 'rates-of-duty'

In [97]:
new_table['Alcohol Content'] = 'ABV 22%'

In [98]:
new_table['Revision'] = ''

In [99]:
new_table['Alcohol Duty'] = 'spirits'

In [100]:
new_table['Value'] = new_table['Value'].astype(str)

In [101]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [102]:
new_table = new_table[['Period','Alcohol Duty','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [103]:
new_table.tail()

,Period,Alcohol Duty,Category,Alcohol Content,Measure Type,Value,Unit,Revision
66,25.03.13,spirits,Spirits,ABV 22%,rates-of-duty,28.22,gbp-per-l-pure-alcohol,
67,24.03.14,spirits,Spirits,ABV 22%,rates-of-duty,28.22,gbp-per-l-pure-alcohol,
68,23.03.15,spirits,Spirits,ABV 22%,rates-of-duty,27.66,gbp-per-l-pure-alcohol,
69,21.03.16,spirits,Spirits,ABV 22%,rates-of-duty,27.66,gbp-per-l-pure-alcohol,
70,13.03.17,spirits,Spirits,ABV 22%,rates-of-duty,28.74,gbp-per-l-pure-alcohol,

In [104]:
Final_table = pd.concat([Final_table,new_table])

In [105]:
Final_table.count()

Period             439
Alcohol Duty       439
Category           439
Alcohol Content    439
Measure Type       439
Value              439
Unit               439
Revision           439
dtype: int64

In [106]:
observations = tab.iloc[146:175, :10]

In [107]:
observations

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
NaN,01.06.93,NaN,10.45,-,NaN,-,-,NaN,-,-
NaN,01.01.94,NaN,10.45,-,NaN,-,-,NaN,-,-
NaN,01.01.95,NaN,10.82,-,NaN,-,-,NaN,-,-
NaN,01.10.96,NaN,10.82,-,NaN,-,-,NaN,-,-
NaN,01.01.97,NaN,10.82,-,NaN,-,-,NaN,-,-
NaN,01.01.98,NaN,11.14,-,NaN,-,-,NaN,-,-
NaN,01.01.99,NaN,11.5,-,NaN,-,-,NaN,-,-
NaN,01.04.00,NaN,11.89,-,NaN,-,-,NaN,-,-
NaN,07.03.01,NaN,11.89,-,NaN,-,-,NaN,-,-
NaN,01.06.02,NaN,11.89,5.95,NaN,5.95 to 10.90,-,NaN,-,-
NaN,14.04.03,NaN,12.22,6.11,NaN,6.12 to 11.21,-,NaN,-,-
NaN,22.03.04,NaN,12.59,6.3,NaN,6.30 to 11.54,-,NaN,-,-
NaN,01.06.04,NaN,12.59,6.3,NaN,6.30 to 11.54,11.54 to 12.59,NaN,-,-
NaN,20.03.05,NaN,12.92,6.46,NaN,6.46 to 11.85,11.85 to 12.92,NaN,-,-
NaN,26.03.06,NaN,13.26,6.63,NaN,6.63 to 12.16,12.16 to 13.26,NaN,-,-
NaN,26.03.07,NaN,13.71,6.86,NaN,6.86 to 12.57,12.57 to 13.71,NaN,-,-
NaN,17.03.08,NaN,14.96,7.48,NaN,7.48 to 13.71,13.71 to 14.96,NaN,-,-
NaN,01.12.08 4,NaN,16.15,8.08,NaN,8.08 to 14.80,14.80 to 16.15,NaN,-,-
NaN,23.04.09,NaN,16.47,8.24,NaN,8.24 to 15.10,15.10 to 16.47,NaN,-,-
NaN,29.03.10,NaN,17.32,8.66,NaN,8.66 to 15.88,15.88 to 17.32,NaN,-,-
NaN,28.03.11,NaN,18.57,9.29,NaN,9.29 to 17.02,17.02 to 18.57,NaN,-,-
NaN,01.10.11,NaN,18.57,9.29,NaN,9.29 to 17.02,17.02 to 18.57,NaN,23.21,9.29
NaN,26.03.12,NaN,19.51,9.76,NaN,9.76 to 17.88,17.88 to 19.51,NaN,24.39,9.76
NaN,25.03.13,NaN,19.12,9.56,NaN,9.56 to 17.53,17.53 to 19.12,NaN,24.21,9.17
NaN,24.03.14,NaN,18.74,9.37,NaN,9.37 to 17.18,17.18 to 18.74,NaN,24.03,8.62
NaN,23.03.15,NaN,18.37,9.18,NaN,9.18 to 16.84,16.84 to 18.37,NaN,23.85,8.1
NaN,21.03.16,NaN,18.37,9.18,NaN,9.18 to 16.84,16.84 to 18.37,NaN,23.85,8.1
NaN,13.03.17,NaN,19.08,9.54,NaN,9.54 to 17.49,17.49 to 19.08,NaN,24.77,8.42
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
data = observations.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 7',                            
                          ], axis = 1)

In [109]:
data.head(2)

,HM Revenue and Customs,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
NaN,01.06.93,10.45,-,-,-,-,-
NaN,01.01.94,10.45,-,-,-,-,-

In [110]:
data.columns.values[0] = 'Period'
data.columns.values[1] = 'Beer'
data.columns.values[2] = 'Breweries Producing 5000 Hls Or Less'
data.columns.values[3] = 'Breweries Producing 5000 to 30000 Hls'
data.columns.values[4] = 'Breweries Producing 30000 to 60000 Hls'
data.columns.values[5] = 'High Strength Beers'
data.columns.values[6] = 'Low Strength Beers'

In [111]:
data

,Period,Beer,Breweries Producing 5000 Hls Or Less,Breweries Producing 5000 to 30000 Hls,Breweries Producing 30000 to 60000 Hls,High Strength Beers,Low Strength Beers
NaN,01.06.93,10.45,-,-,-,-,-
NaN,01.01.94,10.45,-,-,-,-,-
NaN,01.01.95,10.82,-,-,-,-,-
NaN,01.10.96,10.82,-,-,-,-,-
NaN,01.01.97,10.82,-,-,-,-,-
NaN,01.01.98,11.14,-,-,-,-,-
NaN,01.01.99,11.5,-,-,-,-,-
NaN,01.04.00,11.89,-,-,-,-,-
NaN,07.03.01,11.89,-,-,-,-,-
NaN,01.06.02,11.89,5.95,5.95 to 10.90,-,-,-
NaN,14.04.03,12.22,6.11,6.12 to 11.21,-,-,-
NaN,22.03.04,12.59,6.3,6.30 to 11.54,-,-,-
NaN,01.06.04,12.59,6.3,6.30 to 11.54,11.54 to 12.59,-,-
NaN,20.03.05,12.92,6.46,6.46 to 11.85,11.85 to 12.92,-,-
NaN,26.03.06,13.26,6.63,6.63 to 12.16,12.16 to 13.26,-,-
NaN,26.03.07,13.71,6.86,6.86 to 12.57,12.57 to 13.71,-,-
NaN,17.03.08,14.96,7.48,7.48 to 13.71,13.71 to 14.96,-,-
NaN,01.12.08 4,16.15,8.08,8.08 to 14.80,14.80 to 16.15,-,-
NaN,23.04.09,16.47,8.24,8.24 to 15.10,15.10 to 16.47,-,-
NaN,29.03.10,17.32,8.66,8.66 to 15.88,15.88 to 17.32,-,-
NaN,28.03.11,18.57,9.29,9.29 to 17.02,17.02 to 18.57,-,-
NaN,01.10.11,18.57,9.29,9.29 to 17.02,17.02 to 18.57,23.21,9.29
NaN,26.03.12,19.51,9.76,9.76 to 17.88,17.88 to 19.51,24.39,9.76
NaN,25.03.13,19.12,9.56,9.56 to 17.53,17.53 to 19.12,24.21,9.17
NaN,24.03.14,18.74,9.37,9.37 to 17.18,17.18 to 18.74,24.03,8.62
NaN,23.03.15,18.37,9.18,9.18 to 16.84,16.84 to 18.37,23.85,8.1
NaN,21.03.16,18.37,9.18,9.18 to 16.84,16.84 to 18.37,23.85,8.1
NaN,13.03.17,19.08,9.54,9.54 to 17.49,17.49 to 19.08,24.77,8.42
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
new_table = pd.melt(data, id_vars=['Period'], var_name='Category', value_name='Value')

In [113]:
new_table

         Period                              Category  Value
0      01.06.93                                  Beer  10.45
1      01.01.94                                  Beer  10.45
2      01.01.95                                  Beer  10.82
3      01.10.96                                  Beer  10.82
4      01.01.97                                  Beer  10.82
5      01.01.98                                  Beer  11.14
6      01.01.99                                  Beer   11.5
7      01.04.00                                  Beer  11.89
8      07.03.01                                  Beer  11.89
9      01.06.02                                  Beer  11.89
10     14.04.03                                  Beer  12.22
11     22.03.04                                  Beer  12.59
12     01.06.04                                  Beer  12.59
13     20.03.05                                  Beer  12.92
14     26.03.06                                  Beer  13.26
15     26.03.07                                  Beer  13.71
16     17.03.08                                  Beer  14.96
17   01.12.08 4                                  Beer  16.15
18     23.04.09                                  Beer  16.47
19     29.03.10                                  Beer  17.32
20     28.03.11                                  Beer  18.57
21     01.10.11                                  Beer  18.57
22     26.03.12                                  Beer  19.51
23     25.03.13                                  Beer  19.12
24     24.03.14                                  Beer  18.74
25     23.03.15                                  Beer  18.37
26     21.03.16                                  Beer  18.37
27     13.03.17                                  Beer  19.08
28          NaN                                  Beer    NaN
29     01.06.93  Breweries Producing 5000 Hls Or Less      -
..          ...                                   ...    ...
144         NaN                   High Strength Beers    NaN
145    01.06.93                    Low Strength Beers      -
146    01.01.94                    Low Strength Beers      -
147    01.01.95                    Low Strength Beers      -
148    01.10.96                    Low Strength Beers      -
149    01.01.97                    Low Strength Beers      -
150    01.01.98                    Low Strength Beers      -
151    01.01.99                    Low Strength Beers      -
152    01.04.00                    Low Strength Beers      -
153    07.03.01                    Low Strength Beers      -
154    01.06.02                    Low Strength Beers      -
155    14.04.03                    Low Strength Beers      -
156    22.03.04                    Low Strength Beers      -
157    01.06.04                    Low Strength Beers      -
158    20.03.05                    Low Strength Beers      -
159    26.03.06                    Low Strength Beers      -
160    26.03.07                    Low Strength Beers      -
161    17.03.08                    Low Strength Beers      -
162  01.12.08 4                    Low Strength Beers      -
163    23.04.09                    Low Strength Beers      -
164    29.03.10                    Low Strength Beers      -
165    28.03.11                    Low Strength Beers      -
166    01.10.11                    Low Strength Beers   9.29
167    26.03.12                    Low Strength Beers   9.76
168    25.03.13                    Low Strength Beers   9.17
169    24.03.14                    Low Strength Beers   8.62
170    23.03.15                    Low Strength Beers    8.1
171    21.03.16                    Low Strength Beers    8.1
172    13.03.17                    Low Strength Beers   8.42
173         NaN                    Low Strength Beers    NaN

[174 rows x 3 columns]

In [114]:
new_table.count()

Period      168
Category    174
Value       168
dtype: int64

In [115]:
new_table.dropna(how='any',axis=0, inplace =True)

In [116]:
new_table.count()

Period      168
Category    168
Value       168
dtype: int64

In [117]:
new_table.dtypes

Period      object
Category    object
Value       object
dtype: object

In [118]:
new_table['Unit'] = 'gbp-per-1-abv-per-hl'

In [119]:
new_table['Measure Type'] = 'rates-of-duty'

In [120]:
new_table['Revision'] = ''

In [121]:
new_table['Category'].unique()

array(['Beer', 'Breweries Producing 5000 Hls Or Less',
       'Breweries Producing 5000 to 30000 Hls',
       'Breweries Producing 30000 to 60000 Hls', 'High Strength Beers',
       'Low Strength Beers'], dtype=object)

In [122]:
def user_perc8(x):
    
    if ((str(x) == 'Low Strength Beers')) : 
        
        return '1.2% to 2.8%'
    else:
        return 'Various'
    
new_table['Alcohol Content'] = new_table.apply(lambda row: user_perc8(row['Category']), axis = 1)

In [123]:
def user_perc8(x,y):
    
    if ((str(x) == 'High Strength Beers')) : 
        
        return 'ABV 7.5%'
    else:
        return y
    
new_table['Alcohol Content'] = new_table.apply(lambda row: user_perc8(row['Category'], row['Alcohol Content']), axis = 1)

In [124]:
new_table['Alcohol Duty'] = 'beer'

In [125]:
new_table = new_table[['Period','Alcohol Duty','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [126]:
new_table.tail()

,Period,Alcohol Duty,Category,Alcohol Content,Measure Type,Value,Unit,Revision
168,25.03.13,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,9.17,gbp-per-1-abv-per-hl,
169,24.03.14,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.62,gbp-per-1-abv-per-hl,
170,23.03.15,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.1,gbp-per-1-abv-per-hl,
171,21.03.16,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.1,gbp-per-1-abv-per-hl,
172,13.03.17,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.42,gbp-per-1-abv-per-hl,

In [127]:
new_table['Value'] = new_table['Value'].astype(str)

In [128]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [129]:
Final_table = pd.concat([Final_table,new_table])

In [130]:
Final_table = Final_table[Final_table['Value'] !=  '-' ]

In [131]:
Final_table = Final_table[Final_table['Value'] !=  '' ]

In [132]:
Final_table['Period'] = [x.split(' ')[0] for x in Final_table['Period']]

In [133]:
Final_table['Value'] = Final_table['Value'].astype(str)

In [134]:
Final_table['Value'] = Final_table['Value'].map(lambda cell: cell.replace('to', '-'))

In [135]:
Final_table.dropna()

,Period,Alcohol Duty,Category,Alcohol Content,Measure Type,Value,Unit,Revision
0,01.01.95,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,23.41,gbp-per-hl-product,
1,01.01.96,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,23.41,gbp-per-hl-product,
2,01.01.97,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,43.28,gbp-per-hl-product,
3,01.01.98,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,44.58,gbp-per-hl-product,
4,17.03.98,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,44.58,gbp-per-hl-product,
5,01.01.99,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,46.01,gbp-per-hl-product,
6,01.04.00,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,47.58,gbp-per-hl-product,
7,07.03.01,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,47.58,gbp-per-hl-product,
8,28.04.02,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,47.58,gbp-per-hl-product,
9,14.04.03,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,48.91,gbp-per-hl-product,
10,22.03.04,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,50.38,gbp-per-hl-product,
11,20.03.05,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,51.69,gbp-per-hl-product,
12,26.03.06,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,53.06,gbp-per-hl-product,
13,26.03.07,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,54.85,gbp-per-hl-product,
14,17.03.08,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,59.87,gbp-per-hl-product,
15,01.12.08,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,64.65,gbp-per-hl-product,
16,23.04.09,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,65.94,gbp-per-hl-product,
17,29.03.10,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,69.32,gbp-per-hl-product,
18,28.03.11,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,74.32,gbp-per-hl-product,
19,01.10.11,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,74.32,gbp-per-hl-product,
20,26.03.12,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,78.07,gbp-per-hl-product,
21,25.03.13,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,82.18,gbp-per-hl-product,
22,24.03.14,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,84.21,gbp-per-hl-product,
23,23.03.15,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,84.21,gbp-per-hl-product,
24,21.03.16,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,85.6,gbp-per-hl-product,
25,13.03.17,wine-of-fresh-grape,Still Wine,"Over 1.2%, up to and including 4.0%",rates-of-duty,88.93,gbp-per-hl-product,
28,01.01.95,wine-of-fresh-grape,Still Wine,"Over 4.0%, up to and including 5.5%",rates-of-duty,42.41,gbp-per-hl-product,
29,01.01.96,wine-of-fresh-grape,Still Wine,"Over 4.0%, up to and including 5.5%",rates-of-duty,42.41,gbp-per-hl-product,
30,01.01.97,wine-of-fresh-grape,Still Wine,"Over 4.0%, up to and including 5.5%",rates-of-duty,59.51,gbp-per-hl-product,
31,01.01.98,wine-of-fresh-grape,Still Wine,"Over 4.0%, up to and including 5.5%",rates-of-duty,61.3,gbp-per-hl-product,
...,...,...,...,...,...,...,...,...
99,01.06.04,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,11.54 - 12.59,gbp-per-1-abv-per-hl,
100,20.03.05,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,11.85 - 12.92,gbp-per-1-abv-per-hl,
101,26.03.06,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,12.16 - 13.26,gbp-per-1-abv-per-hl,
102,26.03.07,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,12.57 - 13.71,gbp-per-1-abv-per-hl,
103,17.03.08,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,13.71 - 14.96,gbp-per-1-abv-per-hl,
104,01.12.08,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,14.80 - 16.15,gbp-per-1-abv-per-hl,
105,23.04.09,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,15.10 - 16.47,gbp-per-1-abv-per-hl,
106,29.03.10,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,15.88 - 17.32,gbp-per-1-abv-per-hl,
107,28.03.11,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.02 - 18.57,gbp-per-1-abv-per-hl,
108,01.10.11,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.02 - 18.57,gbp-per-1-abv-per-hl,
109,26.03.12,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.88 - 19.51,gbp-per-1-abv-per-hl,
110,25.03.13,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.53 - 19.12,gbp-per-1-abv-per-hl,
111,24.03.14,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.18 - 18.74,gbp-per-1-abv-per-hl,
112,23.03.15,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,16.84 - 18.37,gbp-per-1-abv-per-hl,
113,21.03.16,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,16.84 - 18.37,gbp-per-1-abv-per-hl,
114,13.03.17,beer,Breweries Producing 30000 to 60000 Hls,Various,rates-of-duty,17.49 - 19.08,gbp-per-1-abv-per-hl,
137,01.10.11,beer,High Strength Beers,ABV 7.5%,rates-of-duty,23.21,gbp-per-1-abv-per-hl,
138,26.03.12,beer,High Strength Beers,ABV 7.5%,rates-of-duty,24.39,gbp-per-1-abv-per-hl,
139,25.03.13,beer,High Strength Beers,ABV 7.5%,rates-of-duty,24.21,gbp-per-1-abv-per-hl,
140,24.03.14,beer,High Strength Beers,ABV 7.5%,rates-of-duty,24.03,gbp-per-1-abv-per-hl,
141,23.03.15,beer,High Strength Beers,ABV 7.5%,rates-of-duty,23.85,gbp-per-1-abv-per-hl,
142,21.03.16,beer,High Strength Beers,ABV 7.5%,rates-of-duty,23.85,gbp-per-1-abv-per-hl,
143,13.03.17,beer,High Strength Beers,ABV 7.5%,rates-of-duty,24.77,gbp-per-1-abv-per-hl,
166,01.10.11,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,9.29,gbp-per-1-abv-per-hl,
167,26.03.12,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,9.76,gbp-per-1-abv-per-hl,
168,25.03.13,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,9.17,gbp-per-1-abv-per-hl,
169,24.03.14,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.62,gbp-per-1-abv-per-hl,
170,23.03.15,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.1,gbp-per-1-abv-per-hl,
171,21.03.16,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.1,gbp-per-1-abv-per-hl,
172,13.03.17,beer,Low Strength Beers,1.2% to 2.8%,rates-of-duty,8.42,gbp-per-1-abv-per-hl,

In [136]:
Final_table = Final_table[['Period','Category','Alcohol Duty','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [137]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('hmrcalcohol_12.csv'), index = False)

In [138]:
Final_table.head()

,Period,Category,Alcohol Duty,Alcohol Content,Measure Type,Value,Unit,Revision
0,01.01.95,Still Wine,wine-of-fresh-grape,"Over 1.2%, up to and including 4.0%",rates-of-duty,23.41,gbp-per-hl-product,
1,01.01.96,Still Wine,wine-of-fresh-grape,"Over 1.2%, up to and including 4.0%",rates-of-duty,23.41,gbp-per-hl-product,
2,01.01.97,Still Wine,wine-of-fresh-grape,"Over 1.2%, up to and including 4.0%",rates-of-duty,43.28,gbp-per-hl-product,
3,01.01.98,Still Wine,wine-of-fresh-grape,"Over 1.2%, up to and including 4.0%",rates-of-duty,44.58,gbp-per-hl-product,
4,17.03.98,Still Wine,wine-of-fresh-grape,"Over 1.2%, up to and including 4.0%",rates-of-duty,44.58,gbp-per-hl-product,