https://www.uktradeinfo.com/Statistics/Pages/TaxAndDutybulletins.aspx

In [1]:
from databaker.framework import *
import pandas as pd 
from io import BytesIO

In [2]:
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from pathlib import Path

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

inputURL = 'https://www.uktradeinfo.com/Statistics/Tax%20and%20Duty%20Bulletins/Alcohol0718.xls'

'https://www.uktradeinfo.com/Statistics/Tax%20and%20Duty%20Bulletins/Alcohol0718.xls'

In [3]:
data = BytesIO(session.get(inputURL).content)

In [4]:
tab = pd.read_excel(data, sheet_name = '8')

In [5]:
tab

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
NaN,Made Wine - July 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,Historic Quantities Released For Consumption a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not seasonally adjusted
NaN,NaN,NaN,NaN,Quantities Released for Consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hectolitres,NaN,Revenue,NaN
NaN,NaN,NaN,NaN,NaN,NaN,Above 5.5% ABV but not exceeding 15%,NaN,NaN,NaN,NaN,NaN,Composition by Origin above 5.5% ABV,NaN,NaN,NaN,NaN,NaN,NaN,Â£ million,NaN
NaN,NaN,NaN,NaN,Above 1.2% but not exceeding 5.5% ABV,NaN,Still,NaN,Sparkling,NaN,Over 15% ABV,NaN,Imported \nex-ship,Ex-warehouse,NaN,UK registered premises,NaN,Total made wine,NaN,Total wine1,Total alcohol
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Financial Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1999/00,NaN,NaN,2026711,NaN,428619,NaN,2873,NaN,*,NaN,35144,396347,NaN,*,NaN,2458202,NaN,1657,6429
NaN,2000/01,NaN,NaN,2906997,NaN,402753,NaN,3559,NaN,*,NaN,31435,374877,NaN,*,NaN,3313309,NaN,1814,6664
NaN,2001/02,NaN,NaN,3830668,NaN,365598,NaN,3872,NaN,*,NaN,25227,344243,NaN,*,NaN,4200138,NaN,1982,6955
NaN,2002/03,NaN,NaN,990969,NaN,356205,NaN,1333,NaN,*,NaN,20615,336923,NaN,*,NaN,1348508,NaN,1936,7297
NaN,2003/04,NaN,NaN,428936,NaN,353152,NaN,934,NaN,*,NaN,23439,330647,NaN,*,NaN,783022,NaN,2006,7565
NaN,2004/05,NaN,NaN,535229,NaN,341087,NaN,401,NaN,*,NaN,27687,313802,NaN,*,NaN,876717,NaN,2233,7876
NaN,2005/06,NaN,NaN,569819,NaN,332008,NaN,564,NaN,*,NaN,36315,296257,NaN,*,NaN,902391,NaN,2308,7861
NaN,2006/07,NaN,NaN,566545,NaN,323959,NaN,1102,NaN,*,NaN,36103,288958,NaN,*,NaN,891606,NaN,2385,7913
NaN,2007/08,NaN,NaN,702741,NaN,357635,NaN,11064,NaN,*,NaN,54542,314157,NaN,*,NaN,1071439,NaN,2641,8302
NaN,2008/09,NaN,NaN,592703,NaN,371589,NaN,3861,NaN,*,NaN,51411,324040,NaN,*,NaN,968154,NaN,2741,8470
NaN,2009/10,NaN,NaN,656998,NaN,393090,NaN,2287,NaN,*,NaN,39440,355937,NaN,*,NaN,1052376,NaN,2949,9012
NaN,2010/11,NaN,NaN,740528,NaN,409130,NaN,5190,NaN,*,NaN,41888,372433,NaN,*,NaN,1154849,NaN,3101,9397
NaN,2011/12,NaN,NaN,924330,NaN,439137,NaN,5908,NaN,*,NaN,24993,420052,NaN,*,NaN,1369375,NaN,3356,10036
NaN,2012/13,NaN,NaN,1038105,NaN,418034,NaN,3972,NaN,*,NaN,13371,408635,NaN,*,NaN,1460111,NaN,3537,10219
NaN,2013/14,NaN,NaN,1457916,NaN,424313,NaN,5317,NaN,*,NaN,12579,417051,NaN,*,NaN,1887546,NaN,3713,10455
NaN,2014/15,NaN,NaN,1695501,NaN,464745,NaN,7496,NaN,*,NaN,19793,452448,NaN,*,NaN,2167742,NaN,3837,10489
NaN,2015/16,NaN,NaN,2007805,NaN,488945,NaN,13124,NaN,*,NaN,23234,478835,NaN,*,NaN,2509874,NaN,3973,10686
NaN,2016/17,NaN,NaN,2297408,NaN,465318,NaN,7963,NaN,*,NaN,18588,454693,NaN,*,NaN,2770689,NaN,4169,11155
NaN,2017/18,NaN,NaN,2278282,NaN,506812,NaN,3846,NaN,*,NaN,14920,495738,NaN,*,NaN,2788940,NaN,4256,11440
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2018-03-01 00:00:00,NaN,NaN,162306,NaN,40665,NaN,227,NaN,*,NaN,1218,39673,NaN,*,NaN,203197,NaN,287,793
NaN,2018-04-01 00:00:00,NaN,NaN,196936,NaN,37185,NaN,2087,NaN,*,NaN,1013,38258,NaN,*,NaN,236208,NaN,369,1004
NaN,2018-05-01 00:00:00,NaN,p,209697,NaN,53912,NaN,411,NaN,*,NaN,1598,52725,NaN,*,NaN,264020,NaN,351,958
NaN,2018-06-01 00:00:00,NaN,p,326471,NaN,53256,NaN,560,NaN,*,NaN,751,53065,NaN,*,NaN,380287,NaN,366,1073
NaN,2018-07-01 00:00:00,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366,1027
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,r = revised to reflect amendments to returns d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,p = provisional.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1. Receipts for wine includes wine of fresh gr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,* From February 1996 figures and totals for wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,clearances from ex-UK registered premises have...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
observations = tab.iloc[7:284, :20]

In [7]:
observations

,HM Revenue and Customs,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
NaN,NaN,NaN,NaN,Above 1.2% but not exceeding 5.5% ABV,NaN,Still,NaN,Sparkling,NaN,Over 15% ABV,NaN,Imported \nex-ship,Ex-warehouse,NaN,UK registered premises,NaN,Total made wine,NaN,Total wine1,Total alcohol
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Financial Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1999/00,NaN,NaN,2026711,NaN,428619,NaN,2873,NaN,*,NaN,35144,396347,NaN,*,NaN,2458202,NaN,1657,6429
NaN,2000/01,NaN,NaN,2906997,NaN,402753,NaN,3559,NaN,*,NaN,31435,374877,NaN,*,NaN,3313309,NaN,1814,6664
NaN,2001/02,NaN,NaN,3830668,NaN,365598,NaN,3872,NaN,*,NaN,25227,344243,NaN,*,NaN,4200138,NaN,1982,6955
NaN,2002/03,NaN,NaN,990969,NaN,356205,NaN,1333,NaN,*,NaN,20615,336923,NaN,*,NaN,1348508,NaN,1936,7297
NaN,2003/04,NaN,NaN,428936,NaN,353152,NaN,934,NaN,*,NaN,23439,330647,NaN,*,NaN,783022,NaN,2006,7565
NaN,2004/05,NaN,NaN,535229,NaN,341087,NaN,401,NaN,*,NaN,27687,313802,NaN,*,NaN,876717,NaN,2233,7876
NaN,2005/06,NaN,NaN,569819,NaN,332008,NaN,564,NaN,*,NaN,36315,296257,NaN,*,NaN,902391,NaN,2308,7861
NaN,2006/07,NaN,NaN,566545,NaN,323959,NaN,1102,NaN,*,NaN,36103,288958,NaN,*,NaN,891606,NaN,2385,7913
NaN,2007/08,NaN,NaN,702741,NaN,357635,NaN,11064,NaN,*,NaN,54542,314157,NaN,*,NaN,1071439,NaN,2641,8302
NaN,2008/09,NaN,NaN,592703,NaN,371589,NaN,3861,NaN,*,NaN,51411,324040,NaN,*,NaN,968154,NaN,2741,8470
NaN,2009/10,NaN,NaN,656998,NaN,393090,NaN,2287,NaN,*,NaN,39440,355937,NaN,*,NaN,1052376,NaN,2949,9012
NaN,2010/11,NaN,NaN,740528,NaN,409130,NaN,5190,NaN,*,NaN,41888,372433,NaN,*,NaN,1154849,NaN,3101,9397
NaN,2011/12,NaN,NaN,924330,NaN,439137,NaN,5908,NaN,*,NaN,24993,420052,NaN,*,NaN,1369375,NaN,3356,10036
NaN,2012/13,NaN,NaN,1038105,NaN,418034,NaN,3972,NaN,*,NaN,13371,408635,NaN,*,NaN,1460111,NaN,3537,10219
NaN,2013/14,NaN,NaN,1457916,NaN,424313,NaN,5317,NaN,*,NaN,12579,417051,NaN,*,NaN,1887546,NaN,3713,10455
NaN,2014/15,NaN,NaN,1695501,NaN,464745,NaN,7496,NaN,*,NaN,19793,452448,NaN,*,NaN,2167742,NaN,3837,10489
NaN,2015/16,NaN,NaN,2007805,NaN,488945,NaN,13124,NaN,*,NaN,23234,478835,NaN,*,NaN,2509874,NaN,3973,10686
NaN,2016/17,NaN,NaN,2297408,NaN,465318,NaN,7963,NaN,*,NaN,18588,454693,NaN,*,NaN,2770689,NaN,4169,11155
NaN,2017/18,NaN,NaN,2278282,NaN,506812,NaN,3846,NaN,*,NaN,14920,495738,NaN,*,NaN,2788940,NaN,4256,11440
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Calendar year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2000,NaN,NaN,2798602,NaN,427157,NaN,3434,NaN,*,NaN,32384,398207,NaN,*,NaN,3229193,NaN,1776,6594
NaN,2001,NaN,NaN,3712614,NaN,359660,NaN,3774,NaN,*,NaN,24722,338712,NaN,*,NaN,4076048,NaN,1954,6896
NaN,2002,NaN,NaN,1598851,NaN,365203,NaN,1826,NaN,*,NaN,19931,347097,NaN,*,NaN,1965879,NaN,1943,7211
NaN,2003,NaN,NaN,423702,NaN,338263,NaN,849,NaN,*,NaN,24289,314822,NaN,*,NaN,762814,NaN,1963,7473
NaN,2004,NaN,NaN,507799,NaN,350427,NaN,692,NaN,*,NaN,25673,325445,NaN,*,NaN,858918,NaN,2180,7799
NaN,2005,NaN,NaN,598119,NaN,334030,NaN,364,NaN,*,NaN,35974,298420,NaN,*,NaN,932513,NaN,2317,7969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2016-03-01 00:00:00,NaN,NaN,129900,NaN,37074,NaN,1027,NaN,*,NaN,1740,36361,NaN,*,NaN,168001,NaN,284,777
NaN,2016-04-01 00:00:00,NaN,NaN,187976,NaN,34370,NaN,537,NaN,*,NaN,1330,33577,NaN,*,NaN,222883,NaN,346,897
NaN,2016-05-01 00:00:00,NaN,NaN,179860,NaN,45251,NaN,869,NaN,*,NaN,1808,44312,NaN,*,NaN,225980,NaN,301,852
NaN,2016-06-01 00:00:00,NaN,NaN,298673,NaN,34726,NaN,1090,NaN,*,NaN,1939,33877,NaN,*,NaN,334489,NaN,343,969
NaN,2016-07-01 00:00:00,NaN,NaN,225887,NaN,42744,NaN,843,NaN,*,NaN,1492,42095,NaN,*,NaN,269473,NaN,327,907
NaN,2016-08-01 00:00:00,NaN,NaN,218011,NaN,37226,NaN,1136,NaN,*,NaN,2134,36228,NaN,*,NaN,256373,NaN,338,859
NaN,2016-09-01 00:00:00,NaN,NaN,142977,NaN,38158,NaN,589,NaN,*,NaN,1040,37707,NaN,*,NaN,181724,NaN,345,925
NaN,2016-10-01 00:00:00,NaN,NaN,203211,NaN,44116,NaN,688,NaN,*,NaN,1355,43448,NaN,*,NaN,248014,NaN,331,897
NaN,2016-11-01 00:00:00,NaN,NaN,178556,NaN,50541,NaN,874,NaN,*,NaN,1738,49677,NaN,*,NaN,229970,NaN,390,1011
NaN,2016-12-01 00:00:00,NaN,NaN,219579,NaN,33744,NaN,578,NaN,*,NaN,1563,32759,NaN,*,NaN,253902,NaN,495,1319
NaN,2017-01-01 00:00:00,NaN,NaN,133729,NaN,31151,NaN,178,NaN,*,NaN,1481,29848,NaN,*,NaN,165058,NaN,332,883
NaN,2017-02-01 00:00:00,NaN,NaN,105205,NaN,29574,NaN,220,NaN,*,NaN,1331,28463,NaN,*,NaN,134999,NaN,256,631
NaN,2017-03-01 00:00:00,NaN,NaN,203745,NaN,43715,NaN,363,NaN,*,NaN,1376,42702,NaN,*,NaN,247823,NaN,363,1005
NaN,2017-04-01 00:00:00,NaN,NaN,192039,NaN,38935,NaN,276,NaN,*,NaN,1030,38181,NaN,*,NaN,231250,NaN,315,859
NaN,2017-05-01 00:00:00,NaN,NaN,239060,NaN,32465,NaN,325,NaN,*,NaN,1039,31751,NaN,*,NaN,271850,NaN,309,812
NaN,2017-06-01 00:00:00,NaN,NaN,266367,NaN,50055,NaN,319,NaN,*,NaN,1190,49185,NaN,*,NaN,316742,NaN,364,993
NaN,2017-07-01 00:00:00,NaN,NaN,247162,NaN,38871,NaN,217,NaN,*,NaN,1316,37772,NaN,*,NaN,286250,NaN,356,975
NaN,2017-08-01 00:00:00,NaN,NaN,207929,NaN,41536,NaN,382,NaN,*,NaN,1201,40717,NaN,*,NaN,249847,NaN,350,926
NaN,2017-09-01 00:00:00,NaN,NaN,155994,NaN,54763,NaN,242,NaN,*,NaN,1241,53763,NaN,*,NaN,210999,NaN,370,998
NaN,2017-10-01 00:00:00,NaN,NaN,167172,NaN,51295,NaN,319,NaN,*,NaN,1557,50057,NaN,*,NaN,218786,NaN,344,937
NaN,2017-11-01 00:00:00,NaN,NaN,197839,NaN,57135,NaN,458,NaN,*,NaN,1380,56212,NaN,*,NaN,255432,NaN,424,1162
NaN,2017-12-01 00:00:00,NaN,NaN,219431,NaN,36255,NaN,587,NaN,*,NaN,1865,34977,NaN,*,NaN,256273,NaN,531,1409
NaN,2018-01-01 00:00:00,NaN,NaN,102698,NaN,36198,NaN,244,NaN,*,NaN,1256,35186,NaN,*,NaN,139140,NaN,332,887
NaN,2018-02-01 00:00:00,NaN,NaN,120283,NaN,28641,NaN,250,NaN,*,NaN,628,28264,NaN,*,NaN,149175,NaN,275,689
NaN,2018-03-01 00:00:00,NaN,NaN,162306,NaN,40665,NaN,227,NaN,*,NaN,1218,39673,NaN,*,NaN,203197,NaN,287,793
NaN,2018-04-01 00:00:00,NaN,NaN,196936,NaN,37185,NaN,2087,NaN,*,NaN,1013,38258,NaN,*,NaN,236208,NaN,369,1004
NaN,2018-05-01 00:00:00,NaN,p,209697,NaN,53912,NaN,411,NaN,*,NaN,1598,52725,NaN,*,NaN,264020,NaN,351,958
NaN,2018-06-01 00:00:00,NaN,p,326471,NaN,53256,NaN,560,NaN,*,NaN,751,53065,NaN,*,NaN,380287,NaN,366,1073
NaN,2018-07-01 00:00:00,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366,1027
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
list(observations)

['HM Revenue and Customs',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19']

In [9]:
temp = observations.drop(['Unnamed: 1','Unnamed: 2','Unnamed: 4',                            
                          'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 9',
                         'Unnamed: 10', 'Unnamed: 13', 'Unnamed: 14',
                         'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'], axis = 1)

In [10]:
temp.head()

,HM Revenue and Customs,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 11,Unnamed: 12,Unnamed: 18,Unnamed: 19
NaN,NaN,Above 1.2% but not exceeding 5.5% ABV,Still,Sparkling,Imported \nex-ship,Ex-warehouse,Total wine1,Total alcohol
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Financial Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1999/00,2026711,428619,2873,35144,396347,1657,6429
NaN,2000/01,2906997,402753,3559,31435,374877,1814,6664

In [11]:
temp.rename(columns= temp.iloc[0], inplace=True)

In [12]:
list(temp)

[nan,
 'Above 1.2% but not exceeding 5.5% ABV ',
 'Still',
 'Sparkling',
 'Imported \nex-ship',
 'Ex-warehouse',
 'Total wine1 ',
 'Total alcohol']

In [13]:
data = temp.iloc[3:]

In [14]:
data

,nan,Above 1.2% but not exceeding 5.5% ABV,Still,Sparkling,Imported ex-ship,Ex-warehouse,Total wine1,Total alcohol
NaN,1999/00,2026711,428619,2873,35144,396347,1657,6429
NaN,2000/01,2906997,402753,3559,31435,374877,1814,6664
NaN,2001/02,3830668,365598,3872,25227,344243,1982,6955
NaN,2002/03,990969,356205,1333,20615,336923,1936,7297
NaN,2003/04,428936,353152,934,23439,330647,2006,7565
NaN,2004/05,535229,341087,401,27687,313802,2233,7876
NaN,2005/06,569819,332008,564,36315,296257,2308,7861
NaN,2006/07,566545,323959,1102,36103,288958,2385,7913
NaN,2007/08,702741,357635,11064,54542,314157,2641,8302
NaN,2008/09,592703,371589,3861,51411,324040,2741,8470
NaN,2009/10,656998,393090,2287,39440,355937,2949,9012
NaN,2010/11,740528,409130,5190,41888,372433,3101,9397
NaN,2011/12,924330,439137,5908,24993,420052,3356,10036
NaN,2012/13,1038105,418034,3972,13371,408635,3537,10219
NaN,2013/14,1457916,424313,5317,12579,417051,3713,10455
NaN,2014/15,1695501,464745,7496,19793,452448,3837,10489
NaN,2015/16,2007805,488945,13124,23234,478835,3973,10686
NaN,2016/17,2297408,465318,7963,18588,454693,4169,11155
NaN,2017/18,2278282,506812,3846,14920,495738,4256,11440
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Calendar year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2000,2798602,427157,3434,32384,398207,1776,6594
NaN,2001,3712614,359660,3774,24722,338712,1954,6896
NaN,2002,1598851,365203,1826,19931,347097,1943,7211
NaN,2003,423702,338263,849,24289,314822,1963,7473
NaN,2004,507799,350427,692,25673,325445,2180,7799
NaN,2005,598119,334030,364,35974,298420,2317,7969
NaN,2006,527770,315529,1099,34984,281644,2356,7813
NaN,2007,720432,342809,6666,52363,297112,2538,8103
NaN,2008,611804,374725,7897,55111,327511,2804,8689
...,...,...,...,...,...,...,...,...
NaN,2016-03-01 00:00:00,129900,37074,1027,1740,36361,284,777
NaN,2016-04-01 00:00:00,187976,34370,537,1330,33577,346,897
NaN,2016-05-01 00:00:00,179860,45251,869,1808,44312,301,852
NaN,2016-06-01 00:00:00,298673,34726,1090,1939,33877,343,969
NaN,2016-07-01 00:00:00,225887,42744,843,1492,42095,327,907
NaN,2016-08-01 00:00:00,218011,37226,1136,2134,36228,338,859
NaN,2016-09-01 00:00:00,142977,38158,589,1040,37707,345,925
NaN,2016-10-01 00:00:00,203211,44116,688,1355,43448,331,897
NaN,2016-11-01 00:00:00,178556,50541,874,1738,49677,390,1011
NaN,2016-12-01 00:00:00,219579,33744,578,1563,32759,495,1319
NaN,2017-01-01 00:00:00,133729,31151,178,1481,29848,332,883
NaN,2017-02-01 00:00:00,105205,29574,220,1331,28463,256,631
NaN,2017-03-01 00:00:00,203745,43715,363,1376,42702,363,1005
NaN,2017-04-01 00:00:00,192039,38935,276,1030,38181,315,859
NaN,2017-05-01 00:00:00,239060,32465,325,1039,31751,309,812
NaN,2017-06-01 00:00:00,266367,50055,319,1190,49185,364,993
NaN,2017-07-01 00:00:00,247162,38871,217,1316,37772,356,975
NaN,2017-08-01 00:00:00,207929,41536,382,1201,40717,350,926
NaN,2017-09-01 00:00:00,155994,54763,242,1241,53763,370,998
NaN,2017-10-01 00:00:00,167172,51295,319,1557,50057,344,937
NaN,2017-11-01 00:00:00,197839,57135,458,1380,56212,424,1162
NaN,2017-12-01 00:00:00,219431,36255,587,1865,34977,531,1409
NaN,2018-01-01 00:00:00,102698,36198,244,1256,35186,332,887
NaN,2018-02-01 00:00:00,120283,28641,250,628,28264,275,689
NaN,2018-03-01 00:00:00,162306,40665,227,1218,39673,287,793
NaN,2018-04-01 00:00:00,196936,37185,2087,1013,38258,369,1004
NaN,2018-05-01 00:00:00,209697,53912,411,1598,52725,351,958
NaN,2018-06-01 00:00:00,326471,53256,560,751,53065,366,1073
NaN,2018-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,366,1027
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.columns.values[0] = 'Year'

In [16]:
list(data)

['Year',
 'Above 1.2% but not exceeding 5.5% ABV ',
 'Still',
 'Sparkling',
 'Imported \nex-ship',
 'Ex-warehouse',
 'Total wine1 ',
 'Total alcohol']

In [17]:
data

,Year,Above 1.2% but not exceeding 5.5% ABV,Still,Sparkling,Imported ex-ship,Ex-warehouse,Total wine1,Total alcohol
NaN,1999/00,2026711,428619,2873,35144,396347,1657,6429
NaN,2000/01,2906997,402753,3559,31435,374877,1814,6664
NaN,2001/02,3830668,365598,3872,25227,344243,1982,6955
NaN,2002/03,990969,356205,1333,20615,336923,1936,7297
NaN,2003/04,428936,353152,934,23439,330647,2006,7565
NaN,2004/05,535229,341087,401,27687,313802,2233,7876
NaN,2005/06,569819,332008,564,36315,296257,2308,7861
NaN,2006/07,566545,323959,1102,36103,288958,2385,7913
NaN,2007/08,702741,357635,11064,54542,314157,2641,8302
NaN,2008/09,592703,371589,3861,51411,324040,2741,8470
NaN,2009/10,656998,393090,2287,39440,355937,2949,9012
NaN,2010/11,740528,409130,5190,41888,372433,3101,9397
NaN,2011/12,924330,439137,5908,24993,420052,3356,10036
NaN,2012/13,1038105,418034,3972,13371,408635,3537,10219
NaN,2013/14,1457916,424313,5317,12579,417051,3713,10455
NaN,2014/15,1695501,464745,7496,19793,452448,3837,10489
NaN,2015/16,2007805,488945,13124,23234,478835,3973,10686
NaN,2016/17,2297408,465318,7963,18588,454693,4169,11155
NaN,2017/18,2278282,506812,3846,14920,495738,4256,11440
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Calendar year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2000,2798602,427157,3434,32384,398207,1776,6594
NaN,2001,3712614,359660,3774,24722,338712,1954,6896
NaN,2002,1598851,365203,1826,19931,347097,1943,7211
NaN,2003,423702,338263,849,24289,314822,1963,7473
NaN,2004,507799,350427,692,25673,325445,2180,7799
NaN,2005,598119,334030,364,35974,298420,2317,7969
NaN,2006,527770,315529,1099,34984,281644,2356,7813
NaN,2007,720432,342809,6666,52363,297112,2538,8103
NaN,2008,611804,374725,7897,55111,327511,2804,8689
...,...,...,...,...,...,...,...,...
NaN,2016-03-01 00:00:00,129900,37074,1027,1740,36361,284,777
NaN,2016-04-01 00:00:00,187976,34370,537,1330,33577,346,897
NaN,2016-05-01 00:00:00,179860,45251,869,1808,44312,301,852
NaN,2016-06-01 00:00:00,298673,34726,1090,1939,33877,343,969
NaN,2016-07-01 00:00:00,225887,42744,843,1492,42095,327,907
NaN,2016-08-01 00:00:00,218011,37226,1136,2134,36228,338,859
NaN,2016-09-01 00:00:00,142977,38158,589,1040,37707,345,925
NaN,2016-10-01 00:00:00,203211,44116,688,1355,43448,331,897
NaN,2016-11-01 00:00:00,178556,50541,874,1738,49677,390,1011
NaN,2016-12-01 00:00:00,219579,33744,578,1563,32759,495,1319
NaN,2017-01-01 00:00:00,133729,31151,178,1481,29848,332,883
NaN,2017-02-01 00:00:00,105205,29574,220,1331,28463,256,631
NaN,2017-03-01 00:00:00,203745,43715,363,1376,42702,363,1005
NaN,2017-04-01 00:00:00,192039,38935,276,1030,38181,315,859
NaN,2017-05-01 00:00:00,239060,32465,325,1039,31751,309,812
NaN,2017-06-01 00:00:00,266367,50055,319,1190,49185,364,993
NaN,2017-07-01 00:00:00,247162,38871,217,1316,37772,356,975
NaN,2017-08-01 00:00:00,207929,41536,382,1201,40717,350,926
NaN,2017-09-01 00:00:00,155994,54763,242,1241,53763,370,998
NaN,2017-10-01 00:00:00,167172,51295,319,1557,50057,344,937
NaN,2017-11-01 00:00:00,197839,57135,458,1380,56212,424,1162
NaN,2017-12-01 00:00:00,219431,36255,587,1865,34977,531,1409
NaN,2018-01-01 00:00:00,102698,36198,244,1256,35186,332,887
NaN,2018-02-01 00:00:00,120283,28641,250,628,28264,275,689
NaN,2018-03-01 00:00:00,162306,40665,227,1218,39673,287,793
NaN,2018-04-01 00:00:00,196936,37185,2087,1013,38258,369,1004
NaN,2018-05-01 00:00:00,209697,53912,411,1598,52725,351,958
NaN,2018-06-01 00:00:00,326471,53256,560,751,53065,366,1073
NaN,2018-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,366,1027
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
new_table = pd.melt(data, id_vars=['Year'], var_name='Category', value_name='Value')

In [19]:
new_table

                     Year                                Category    Value
0                 1999/00  Above 1.2% but not exceeding 5.5% ABV   2026711
1                 2000/01  Above 1.2% but not exceeding 5.5% ABV   2906997
2                 2001/02  Above 1.2% but not exceeding 5.5% ABV   3830668
3                 2002/03  Above 1.2% but not exceeding 5.5% ABV    990969
4                 2003/04  Above 1.2% but not exceeding 5.5% ABV    428936
5                 2004/05  Above 1.2% but not exceeding 5.5% ABV    535229
6                 2005/06  Above 1.2% but not exceeding 5.5% ABV    569819
7                 2006/07  Above 1.2% but not exceeding 5.5% ABV    566545
8                 2007/08  Above 1.2% but not exceeding 5.5% ABV    702741
9                 2008/09  Above 1.2% but not exceeding 5.5% ABV    592703
10                2009/10  Above 1.2% but not exceeding 5.5% ABV    656998
11                2010/11  Above 1.2% but not exceeding 5.5% ABV    740528
12                2011/12  Above 1.2% but not exceeding 5.5% ABV    924330
13                2012/13  Above 1.2% but not exceeding 5.5% ABV   1038105
14                2013/14  Above 1.2% but not exceeding 5.5% ABV   1457916
15                2014/15  Above 1.2% but not exceeding 5.5% ABV   1695501
16                2015/16  Above 1.2% but not exceeding 5.5% ABV   2007805
17                2016/17  Above 1.2% but not exceeding 5.5% ABV   2297408
18                2017/18  Above 1.2% but not exceeding 5.5% ABV   2278282
19                    NaN  Above 1.2% but not exceeding 5.5% ABV       NaN
20          Calendar year  Above 1.2% but not exceeding 5.5% ABV       NaN
21                   2000  Above 1.2% but not exceeding 5.5% ABV   2798602
22                   2001  Above 1.2% but not exceeding 5.5% ABV   3712614
23                   2002  Above 1.2% but not exceeding 5.5% ABV   1598851
24                   2003  Above 1.2% but not exceeding 5.5% ABV    423702
25                   2004  Above 1.2% but not exceeding 5.5% ABV    507799
26                   2005  Above 1.2% but not exceeding 5.5% ABV    598119
27                   2006  Above 1.2% but not exceeding 5.5% ABV    527770
28                   2007  Above 1.2% but not exceeding 5.5% ABV    720432
29                   2008  Above 1.2% but not exceeding 5.5% ABV    611804
...                   ...                                     ...      ...
1888  2016-03-01 00:00:00                           Total alcohol      777
1889  2016-04-01 00:00:00                           Total alcohol      897
1890  2016-05-01 00:00:00                           Total alcohol      852
1891  2016-06-01 00:00:00                           Total alcohol      969
1892  2016-07-01 00:00:00                           Total alcohol      907
1893  2016-08-01 00:00:00                           Total alcohol      859
1894  2016-09-01 00:00:00                           Total alcohol      925
1895  2016-10-01 00:00:00                           Total alcohol      897
1896  2016-11-01 00:00:00                           Total alcohol     1011
1897  2016-12-01 00:00:00                           Total alcohol     1319
1898  2017-01-01 00:00:00                           Total alcohol      883
1899  2017-02-01 00:00:00                           Total alcohol      631
1900  2017-03-01 00:00:00                           Total alcohol     1005
1901  2017-04-01 00:00:00                           Total alcohol      859
1902  2017-05-01 00:00:00                           Total alcohol      812
1903  2017-06-01 00:00:00                           Total alcohol      993
1904  2017-07-01 00:00:00                           Total alcohol      975
1905  2017-08-01 00:00:00                           Total alcohol      926
1906  2017-09-01 00:00:00                           Total alcohol      998
1907  2017-10-01 00:00:00                           Total alcohol      937
1908  2017-11-01 00:00:00                           Total alcohol     1162
1909  2017-12-01 00:00:00                           Total alcohol     1409
1910  2018-01-01 00:00:00                           Total alcohol      887
1911  2018-02-01 00:00:00                           Total alcohol      689
1912  2018-03-01 00:00:00                           Total alcohol      793
1913  2018-04-01 00:00:00                           Total alcohol     1004
1914  2018-05-01 00:00:00                           Total alcohol      958
1915  2018-06-01 00:00:00                           Total alcohol     1073
1916  2018-07-01 00:00:00                           Total alcohol     1027
1917                  NaN                           Total alcohol      NaN

[1918 rows x 3 columns]

In [20]:
new_table.count()

Year        1897
Category    1918
Value       1878
dtype: int64

In [21]:
new_table.dropna(how='any',axis=0, inplace =True)

In [22]:
new_table.count()

Year        1878
Category    1878
Value       1878
dtype: int64

In [23]:
new_table.dtypes

Year        object
Category    object
Value       object
dtype: object

In [24]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce')

In [25]:
new_table.count()

Year        1878
Category    1878
Value       1878
dtype: int64

In [26]:
new_table['Category'].unique()

array(['Above 1.2% but not exceeding 5.5% ABV ', 'Still', 'Sparkling',
       'Imported \nex-ship', 'Ex-warehouse', 'Total wine1 ',
       'Total alcohol'], dtype=object)

In [27]:
new_table['Category'] = new_table['Category'].map(
    lambda x: {
        'Above 1.2% but not exceeding 5.5% ABV ' : 'Above 1.2% but not exceeding 5.5% ABV',
        'Imported \nex-ship' : 'Imported ex-ship',
        'Total wine1 ': 'Total Wine'
        }.get(x, x))

In [28]:
def user_perc2(x):
    
    if ((str(x) ==  'Still')) | ((str(x) == 'Sparkling')): 
        
        return 'Above 5.5% ABV but not exceeding 15%'
    else:
        return 'Composition by Origin above 5.5% ABV'
    
new_table['Alcohol Content'] = new_table.apply(lambda row: user_perc2(row['Category']), axis = 1)

In [29]:
def user_perc3(x,y):    
    if x.strip() == 'Above 1.2% but not exceeding 5.5% ABV':
        return 'Above 1.2% but not exceeding 5.5% ABV'
    else:
        return y        
    
new_table['Alcohol Content'] = new_table.apply(lambda row: user_perc3(row['Category'], row['Alcohol Content']), axis = 1)

In [30]:
def user_perc4(x,y):
    
    if ((str(x) ==  'Total made wine')) | ((str(x) == 'Total Wine'))| ((str(x) == 'Total Alcohol')): 
        
        return 'Total'
    else:
        return y
    
new_table['Alcohol Content'] = new_table.apply(lambda row: user_perc4(row['Category'], row['Alcohol Content']), axis = 1)

In [31]:
def user_perc5(x):
    
    if ((str(x) == 'Total Wine'))| ((str(x) == 'Total Alcohol')): 
        
        return 'Â£ million'
    else:
        return 'hectolitres'
    
new_table['Unit'] = new_table.apply(lambda row: user_perc5(row['Category']), axis = 1)

In [32]:
def user_perc6(x):
    
    if ((str(x) == 'Total Wine'))| ((str(x) == 'Total Alcohol')): 
        
        return 'GBP Total'
    else:
        return 'Net Volume'
    
new_table['Measure Type'] = new_table.apply(lambda row: user_perc6(row['Category']), axis = 1)

In [33]:
def user_perc7(x):
    
    if ((str(x) ==  '2018-05-01 00:00:00')) | ((str(x) == '2018-06-01 00:00:00')) | ((str(x) == '2018-07-01 00:00:00')): 
        
        return 'provisional'
    else:
        return ''
    
new_table['Revision'] = new_table.apply(lambda row: user_perc7(row['Year']), axis = 1)

In [34]:
new_table = new_table[['Year','Category','Alcohol Content','Measure Type','Value','Unit','Revision']]

In [35]:
new_table.tail()

,Year,Category,Alcohol Content,Measure Type,Value,Unit,Revision
1912,2018-03-01 00:00:00,Total alcohol,Composition by Origin above 5.5% ABV,Net Volume,793,hectolitres,
1913,2018-04-01 00:00:00,Total alcohol,Composition by Origin above 5.5% ABV,Net Volume,1004,hectolitres,
1914,2018-05-01 00:00:00,Total alcohol,Composition by Origin above 5.5% ABV,Net Volume,958,hectolitres,provisional
1915,2018-06-01 00:00:00,Total alcohol,Composition by Origin above 5.5% ABV,Net Volume,1073,hectolitres,provisional
1916,2018-07-01 00:00:00,Total alcohol,Composition by Origin above 5.5% ABV,Net Volume,1027,hectolitres,provisional

In [36]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('hmrcalcohol_8.csv'), index = False)